{"http_interactions":[{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcwMTIxMDAwLCJpYXQiOjE2NzAxMjA4ODAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.aYriW6V6DbYxIrEzahhqC5ZM4mjIM8bm0tX_A_HldBlREobGiOfVtjXuqZWlmrUqF50zqRKPaura4kkfTKOyiZPWINOHLsdSKSghA5r3wIM7gvhuArFkVbGqwVNMkOmm2g5gSKYzM0bs39J2Q6rSYyS6U-MZx3QwQS_DQjRFOtM0yvtJzyXA9-eZI2YveXlqSjQqY46-I0dcIGBruad32ooLXTA0srPfpE6dQ3S7tKGrAH-7UKLJz1scy6tWCicBV-Ub-vtv-SlgyYAHCXZs6EK5j0ZIusTKuNwxdK7ICw7lEEugD6xHFwwfhNx0YzMxk69nWWU1jiRdySQaR9kvug"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0Aa9Vdym4FIJdsM5nbXtFdV8vnfS0wDau-C15Rh0fFgBO9TrBKM2JlA3SNIRoH37t40_VgTJ6kDH4_NmdGxxIyRzH6yaKwb3aekq28G9fOOLRJHuxTeOa1fwG5nDztC9CswPhbP1-faxHU8dEMI8WwXHjQsk78cPRW-5HAeFkAOgrPRaAve4qpWAlOugji0fomv-fwCnX4QYf87uqkcTItfJ1hlxSHyQ........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 02:29:00 GMT"},{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ110","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9Vdym4FIJdsM5nbXtFdV8vnfS0wDau-C15Rh0fFgBO9TrBKM2JlA3SNIRoH37t40_VgTJ6kDH4_NmdGxxIyRzH6yaKwb3aekq28G9fOOLRJHuxTeOa1fwG5nDztC9CswPhbP1-faxHU8dEMI8WwXHjQsk78cPRW-5HAeFkAOgrPRaAve4qpWAlOugji0fomv-fwCnX4QYf87uqkcTItfJ1hlxSHyQ........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'2022'!A60:CJ110\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [],\n    [\n      \"курс $\",\n      \"36,74515\"\n    ],\n    [\n      \"курс €\",\n      \"38,72020181\",\n      \"\",\n      \"НЕ ХВАТАЕТ !!! :(((\",\n      \"23000\"\n    ],\n    [\n      \"1\",\n      \"2022\",\n      \"Итого\",\n      \"2\",\n      \"2022\",\n      \"Итого\",\n      \"2,1\",\n      \"2022\",\n      \"\",\n      \"3\",\n      \"2022\",\n      \"Итого\",\n      \"3,1\",\n      \"2022\",\n      \"\",\n      \"4\",\n      \"2022\",\n      \"Итого\",\n      \"4,1\",\n  [...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!BX82?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[-6811.0]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9VdylXLS3g_Zl6X5gkfO2Q-wyDgm2omBY4S6jkT9Iga0t_mkoMpnZEwZUhb6GXQJ9Wv5aLtRhBrg2ulkJLUkdKzK9DBM_imlceMbrb_eWpYU7YRIlykuXAcGTYzBpjDeQE1jLqdsN59k1ox5dFP3ecqe-0VVsniVLjIbuoMs4hn8GYaGCDayBcxg6AbOseJI8aGVpUmiL0TPYE5ZDb6uJFQH3tg5M........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"updatedRange\": \"'2022'!BX82\",\n  \"updatedRows\": 1,\n  \"updatedColumns\": 1,\n  \"updatedCells\": 1\n}\n"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 02:29:00 GMT"},[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5'!A:I:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"Транспорт\",\"Такси\",\"=0,0024 * 1000000,0 / 37,4406\",4,12,2022,\"04.12.2022\",\"37,4406\",\"1,059\"]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9Vdyn[...]
[...]
