{"http_interactions":[{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcxMTk5NzQwLCJpYXQiOjE2NzExOTk2MjAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.liCYr7H-T2sw9XjHaOqWoixVOsWPLv2pE4oico_4yn1M0KUlz9ktIRBSV7SYAKqRWPAes4YLksuNFQJ1XRBfAzgTWZvZ1WlHek6-ns1QHdTLQIS9JZNqdhiIC-1ySvrVg9pMNYPqP65X6-VLq-p-W7OW4Lsje26dN0VPP_l4-cct8ssYw7Q_C0xfz07g1Wj51lIz1hA0YuPdx22nInSLi9gpNNfbbmmB-fnerisjrkf3f7dN1vBH0gbKON8PSsqtKyXm1saVyJZ29OktJLdk65u2QFinZo15PY7mV6Z4-OTzk7a97lkojPgxNUP-77t8ya1AuqEUmCmb9cSY9qwy7A"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0AT7lpjA0owEgoB1p_o6aviMy_6Wn53RtbIqUUFZnBJJUQ5AK5e2erRaCsSBTYZNxabubq8DvCsp2Eb24U_2BcP2unMMB_nBSQRVkpntFmROBBh578JAOWjh1o9P5ALWyOYiAFvx3DcNFKyQuEJ4o1NVgWrHnNazZxlo45W27wkD0e-beZoxsc4_-5ViiaT4WbcsqU-n8DsQQDrqAu6SmYdiYYsxuLRk........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Fri, 16 Dec 2022 14:08:00 GMT"},{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8'!A2:B1000","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjA0owEgoB1p_o6aviMy_6Wn53RtbIqUUFZnBJJUQ5AK5e2erRaCsSBTYZNxabubq8DvCsp2Eb24U_2BcP2unMMB_nBSQRVkpntFmROBBh578JAOWjh1o9P5ALWyOYiAFvx3DcNFKyQuEJ4o1NVgWrHnNazZxlo45W27wkD0e-beZoxsc4_-5ViiaT4WbcsqU-n8DsQQDrqAu6SmYdiYYsxuLRk........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'Категории'!A2:B1000\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"Транспорт\",\n      \"Такси\"\n    ],\n    [\n      \"Транспорт\",\n      \"Автобус\"\n    ],\n    [\n      \"Транспорт\",\n      \"Метро\"\n    ],\n    [\n      \"Транспорт\",\n      \"Другой\"\n    ],\n    [\n      \"Транспорт\",\n      \"Поезд\"\n    ],\n    [\n      \"Транспорт\",\n      \"Бензин\"\n    ],\n    [\n      \"Транспорт\",\n      \"Проездной\"\n    ],\n    [\n      \"Еда\",\n      \"Молочка\"\n    ],\n    [\n      \"Еда\",\n      \"Готовая\"\n    ],\n    [\n   [...]
[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ110","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjDuYij9BJyIP8ZH1fSM9p0tM7V4jEPTy5mPazPUj86H7ylKwH88lsGLyz0CQqbTezpilEDyHmOGnUTuTWDIKrWHu0PWMWSn1iL_7XoK979bBdhaZcdxpPBX2eUEGeHP79G6qesXPfH1sSy3hbso3b2N0FuufLaLS1CXvS41DshyMok8sdyOJLioyxxtZgOYpu_urgvYTdIuTPdcBUC8xy7gbnc............................................[...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!BX81?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[-2019450.9375969055]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0AT7lpjBIS62YxHcubri60wNtSgxAIModYtpM3aDT0LKHtdOz6ZRQsEu3AjTLeXB5hejXr-jShsCuyQDyXqPMjZrrezgseCL8EGFvf4lTUXILzmtL7ijOrBzmbOKW6N88L0Y6Sufet7eEHpBpiXb5KKkJpIPhv14jX6T4tIuqx[...]
{"request":{"method":"get","uri":"https://api.monobank.ua/bank/currency","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Trace-Id":["4a8fa47d6b14b4eef1e0afb8680e6d29"]},"body":{"encoding":"UTF-8","string":"[{\"currencyCodeA\":840,\"currencyCodeB\":980,\"date\":1671141674,\"rateBuy\":36.65,\"rateSell\":37.4406},{\"currencyCodeA\":978,\"currencyCodeB\":980,\"date\":1671141674,\"rateBuy\":39,\"rateSell\":40.0994},{\"currencyCodeA\":978,\"currencyCodeB\":840,\"date\":1671141674,\"rateBuy\":1.057,\"rateSell\":1.072},{\"currencyCodeA\":826,\"currencyCodeB\":980,\"date\":1671199548,\"rateCross\":46.5698},{\"currencyCodeA\":392,\"currencyCodeB\":980,\"date\":1671197946,\"rateCross\":0.2768},{\"currencyCodeA\":756,\"currencyCodeB\":980,\"date\":1671199547,\"rateCross\":40.6209},{\"currencyCodeA\":156,\"currencyCodeB\":980,\"date\":1671198533,\"rateCross\":5.3757},{\"currencyCodeA\":784,\"currencyCodeB\":980,\"date\":1671199406,\"rateCross\":10.1964},{\"currencyCodeA\":971,\"currencyCodeB\":980,\"date\":1663425223,\"rateCross\":0.4252},{\"currencyCodeA\":8,\"currencyCodeB\":980,\"date\":16[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5'!A:J:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"Транспорт\",\"Такси\",\"=1000000,0 / 15640,25\",16,12,2022,\"16.12.2022\",\"37,4406\",\"1,072\",null]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0AT7lpjDir[...]
[...]
