{"http_interactions":[{"request":{"method":"get","uri":"https://api.monobank.ua/bank/currency","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Trace-Id":["3b94e74a83f763da6d1e97a20e20de01"]},"body":{"encoding":"UTF-8","string":"[{\"currencyCodeA\":840,\"currencyCodeB\":980,\"date\":1670104874,\"rateBuy\":36.65,\"rateSell\":37.4406},{\"currencyCodeA\":978,\"currencyCodeB\":980,\"date\":1670104874,\"rateBuy\":38.45,\"rateSell\":39.6495},{\"currencyCodeA\":978,\"currencyCodeB\":840,\"date\":1670104874,\"rateBuy\":1.042,\"rateSell\":1.059},{\"currencyCodeA\":826,\"currencyCodeB\":980,\"date\":1670163601,\"rateCross\":46.0708},{\"currencyCodeA\":392,\"currencyCodeB\":980,\"date\":1670163309,\"rateCross\":0.2801},{\"currencyCodeA\":756,\"currencyCodeB\":980,\"date\":1670163566,\"rateCross\":40.1192},{\"currencyCodeA\":156,\"currencyCodeB\":980,\"date\":1670163459,\"rateCross\":5.3203},{\"currencyCodeA\":784,\"currencyCodeB\":980,\"date\":1670163589,\"rateCross\":10.1976},{\"currencyCodeA\":971,\"currencyCodeB\":980,\"date\":1663425223,\"rateCross\":0.4252},{\"currencyCodeA\":8,\"currencyCodeB\":980,\"date\":16[...]
{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcwMTYzNjYwLCJpYXQiOjE2NzAxNjM1NDAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.kE_guy_rNlpGee0KME7CGBKN4EZ3XZtPTBSctTsjXPcOKeskbaLXjO882xGqiyaVvd8qiH7nZ-DaUOLQCq7vBeTpJL2nTrR6InTcuwES3rR5PLYy-UB7zox-1lt0i_HYvv9w_gx0P4qPM0T2vlLiDzjiihNLMfJfmGX-KCNo9q9AyNTIUPKpPx9LxpQoKo9vdEmJuBDFDCQsdTM56ST0XeRcs5ibWxx6NK5LnXy-IRWumGKNGoazSV4XSbyFjCsyE9M9ab9zSMYYeSy7ISVrapFqqxmQlgJ41je7g2VhbeG1tP58pIoFq57gxz_wETYUcSuEggxrrM4FwEh3dCwcKw"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0Aa9Vdynf-16RMmXUU1rTM9bucNRWYtMMYW4bk6b6bqBe82tqNvSLnAaxqOfrGPHhlS31CY0uQ8JlC1ebrJ4LnazxZkNV-m8tfedvzVoPw6ieJUbli75EFKQ7nDjHtfaOCQ54MOVEv-ZOWeOnVEAImrrtgGhs7WfhyPWgntWsNW2gLkeglol79nE33Jx8uA-58_mFfKeF4j7CEP5pQZBn1f-LwnILuAI........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 14:20:00 GMT"},{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5'!A:I:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"Для дома\",\"Сервак, впн\",1000000.0,4,12,2022,\"04.12.2022\",\"37,4406\",\"1,059\"]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9Vdynf-16RMmXUU1rTM9bucNRWYtMMYW4bk6b6bqBe82tqNvSLnAaxqOfrGPHhlS31CY0uQ8JlC1ebrJ4LnazxZkNV-m8tfedvzVoPw6ieJUbli75EFKQ7nDjHtfaOCQ54MOVEv-ZOWeOnVEAImrrtgGhs7WfhyPWgntWsNW2gLkeglol79nE33Jx8uA-58_mFfKeF4j7CEP5pQZBn1f-LwnILuAI........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"tableRange\": \"'Повседневные'!A1:AJ6682\",\n  \"updates\": {\n    \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n    \"updatedRange\": \"'Повседневные'!A6683:I6683\",\n    \"updatedRows\": 1,\n    \"updatedColumns\": 9,\n    \"updatedCells\": 9\n  }\n}\n"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 14:20:00 GMT"},[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ110","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9VdynxGSRaZiT5LKswB9kqvezrlsnBryXWJGXutqdZzmy_rdM3m5ghP-55A_wbuMfMd2gOpX7ACdP-deDYul0LjCH6G44bv3a0-ro90qdHh71FdSK4LHVW_fnUWPRi4B8gDFUs_dHKe9UUBrSjGHegc9Y7rWBov4VeHG3PU0wzxWpS5udPinJ8RNH6-u7fuE9C3CN1YiA1aj-7xcbZ8Azt2gfPBSY........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'2022'!A60:CJ110\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [],\n    [\n      \"курс $\",\n      \"36,74515\"\n    ],\n    [\n      \"курс €\",\n      \"38,71983436\",\n      \"\",\n      \"НЕ ХВАТАЕТ !!! :(((\",\n      \"23000\"\n    ],\n    [\n      \"1\",\n      \"2022\",\n      \"Итого\",\n      \"2\",\n      \"2022\",\n      \"Итого\",\n      \"2,1\",\n      \"2022\",\n      \"\",\n      \"3\",\n      \"2022\",\n      \"Итого\",\n      \"3,1\",\n      \"2022\",\n      \"\",\n      \"4\",\n      \"2022\",\n      \"Ито[...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!BX81?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[-1000078.0]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9VdynfmTcDZvmW7sbEaYD_piDZIlg6dnXmP6AbJVGfaPoie-zl1J0mHEsb7SPiaUPfV6w7dH1JY9b3SZfzW-Y3KWDZBGhPvc9--gtR3eReq4I2mKWBzswYx6_AzWyoiiJZEr0_ZJAiZoxOgxZFnA8EUOVdSj0-2n1O4aj4jOC6KMW2oB[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'monowebhook'!A:A:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"{:type=\\u003e\\\"StatementItem\\\", :data=\\u003e{:account=\\u003e\\\"IJ8Y_c1UAwxRHa4vAlTivQ\\\", :statementItem=\\u003e{:id=\\u003e\\\"tk6Ulh_sMFs9e_Zt\\\", :time=\\u003e\\\"1661599923\\\", :description=\\u003e\\\"DigitalOcean\\\", :mcc=\\u003e\\\"4829\\\"[...]
