{"http_interactions":[{"request":{"method":"get","uri":"https://api.monobank.ua/bank/currency","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Trace-Id":["a861a9ea5646ab12eb4a45fc6fa6f5ac"]},"body":{"encoding":"UTF-8","string":"[{\"currencyCodeA\":840,\"currencyCodeB\":980,\"date\":1671487274,\"rateBuy\":36.65,\"rateSell\":37.4406},{\"currencyCodeA\":978,\"currencyCodeB\":980,\"date\":1671518474,\"rateBuy\":38.9,\"rateSell\":40},{\"currencyCodeA\":978,\"currencyCodeB\":840,\"date\":1671518474,\"rateBuy\":1.054,\"rateSell\":1.069},{\"currencyCodeA\":826,\"currencyCodeB\":980,\"date\":1671545234,\"rateCross\":45.8488},{\"currencyCodeA\":392,\"currencyCodeB\":980,\"date\":1671545115,\"rateCross\":0.2758},{\"currencyCodeA\":756,\"currencyCodeB\":980,\"date\":1671545229,\"rateCross\":40.3448},{\"currencyCodeA\":156,\"currencyCodeB\":980,\"date\":1671545164,\"rateCross\":5.3666},{\"currencyCodeA\":784,\"currencyCodeB\":980,\"date\":1671545219,\"rateCross\":10.1988},{\"currencyCodeA\":971,\"currencyCodeB\":980,\"date\":1663425223,\"rateCross\":0.4252},{\"currencyCodeA\":8,\"currencyCodeB\":980,\"date\":16[...]
{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcxNTQ1MjgwLCJpYXQiOjE2NzE1NDUxNjAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.iAqOG_G69Ccmw5zlIRVTcrYtbOBbKenfldLdHQYPeA3t5GR3_jW4oP6FLHDffoO-3eAWoCvL0CmUe6KDaQLYcf5IRoStr3vMQC6z5PBzVooXRsLprylUxb2zlJDja5hkDFyeUdGOYdsb5DBa7QnZ-VXzjDr3EmGRkIlRfO2PdzNHJoiv8xDdASm_VMuVmv6n3fSFWS-ypfLpfpaPLRod4SaWGjiWl-3fB9J08Ns1lzQWTOZLVUvGRaclaPs4mfNzcjGlkqiYlF7BjfKIe3RfyQMdlcIQ4PVdngDZaYy50Ru__fcCBJqAO2xZwrQkn7f-lj2pS3_1jYCn5xmNqxjpUA"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0AT7lpjBqXUqUayQdrVojvqvVoHqJm2Xu_TXouishXmgOua3pTsI-eONNIfH0eOE0181oFabGhZXpUDqYRj9ioFVR_d-pQ6q7SPu5B4N8NODs-leUUUc5QZ3gy1Oe36MTzuDPUIwOvIKReLnszZDMrZ5qEr_GgS_3Ve9ma16DLNW_DIfAtPcYf4coYaUWbmA68raBoEhnLiDm4jgC2f94OBRYn8IIUAE........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Tue, 20 Dec 2022 14:07:00 GMT"},{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5'!A:J:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"Кэш\",null,\"=2448,32 / 37,4406\",20,12,2022,\"20.12.2022\",\"37,4406\",\"1,069\",null]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0AT7lpjBqXUqUayQdrVojvqvVoHqJm2Xu_TXouishXmgOua3pTsI-eONNIfH0eOE0181oFabGhZXpUDqYRj9ioFVR_d-pQ6q7SPu5B4N8NODs-leUUUc5QZ3gy1Oe36MTzuDPUIwOvIKReLnszZDMrZ5qEr_GgS_3Ve9ma16DLNW_DIfAtPcYf4coYaUWbmA68raBoEhnLiDm4jgC2f94OBRYn8IIUAE........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"tableRange\": \"'Повседневные'!A1:AJ7004\",\n  \"updates\": {\n    \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n    \"updatedRange\": \"'Повседневные'!A7005:I7005\",\n    \"updatedRows\": 1,\n    \"updatedColumns\": 8,\n    \"updatedCells\": 8\n  }\n}\n"},"http_version":null},"recorded_at":"Tue, 20 Dec 2022 14:07:00 GMT"},[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ100?valueRenderOption=FORMULA","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjDeMLbHHAgM-m5cLCW-bk0sM6VOTCeNi845eKx17myGngxW8FO-nCM2gttUR98x7gjUoWXSx9BhkMb_3n8b5LAhzmC3tn6jAC42LIZLREA-I16Ox-nhrZ-r11qZokrH1do24IT40fQP_4CmDq4oYYQblCsrYfVI1ePI7Vjrb95Ggjsp9KKXlGM0iz4d0PjbTFUgt-HjK-XXBxlkPCqt7i5wYd0........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'2022'!A60:CJ100\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [],\n    [\n      \"курс $\",\n      \"= GoogleFinance(\\\"Currency:USDUAH\\\")\\n\"\n    ],\n    [\n      \"курс €\",\n      \"= GoogleFinance(\\\"Currency:EURUAH\\\") \",\n      \"\",\n      \"НЕ ХВАТАЕТ !!! :(((\",\n      23000\n    ],\n    [\n      1,\n      2022,\n      \"Итого\",\n      2,\n      2022,\n      \"Итого\",\n      2.1,\n      2022,\n      \"\",\n      3,\n      2022,\n      \"Итого\",\n      3.1,\n      2022,\n      \"\",\n      4,\n      2022,[...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!CB64?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"=4000000+1000000,0\"]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0AT7lpjD7QIdim6R29gAsWA15pySvRRao9oDGxTV7gDBkOuaIk7iPkKSJxGgdk2r0dtKluGQFI9YoH3NWRbmsKN8jr7ywMo-vn34Fv7YB159OtdIW1dgKg6QwlQiDPVz0B1KRIb3XqWDR3PwgXWfin3eDgmGk3I4qVo6WL3[...]
[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ110","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjAzbR2qsS7ErSDDfddSa2z6mOGfDbOvVC1fC9u9qlIviWmX9XBeceFzAzSuP3YSLBWTiVxzcsAO_9gV_DMJCgALousI4xycDSiLc_SILmA44FPQ9H3Lc6krfSUE4agT8dKxfC2Qs36cJmBfi5ImwHA3DwFIhIoFmqLCVy1xgR6NMiZP4RqkAaDnxXjcghlK2lcM-sdOy42r16LuM78W0jxEKYU............................................[...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!BX82?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[-1808.3200000000002]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0AT7lpjAganU907repKdRiOlhodEMJfwqG01tLPQ_tlwczur7k729njZEobFr3JsWzwhKyrRk5o_M5qWC-hpUKM1BxR1_5rgDoKCk9Rykmdef7glIyUm9cdHrxeMA--rBqjck415jQKCQB9XXXXLYZ1QO6YR0fanM02-4devD7[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'monowebhook'!A:A:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"{:type=\\u003e\\\"StatementItem\\\", :data=\\u003e{:account=\\u003e\\\"C0Hfjf2vrc00CZ_1ZCjSLg\\\", :statementItem=\\u003e{:id=\\u003e\\\"tk6Ulh_sMFs9e_Zt\\\", :time=\\u003e\\\"1661599923\\\", :description=\\u003e\\\"Банкомат BANK NEGARA IND\\\", :mcc=\\u003e[...]
