{"http_interactions":[{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcwMTQ2MzIwLCJpYXQiOjE2NzAxNDYyMDAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.ihNgVjC0JFy76QoJbeFC45aI_y8FQErPCV6YQJxvs4z3hVnYJgpxIj2wxQTFhV5RrOgnrFyvZvOIYloeB3OdWSbVCNw5jGp7aqZ3TVx_6x9_hEmWggyS95wI3SMJDpwvjIDpNNP_N7ApYt9SyAI_a-gnCBp_3mvdn3vsXj64jUVJE9D3LvRyFz6u3BE-jWjwBZAmywotBB-JS0V4qd1ZCaX8ePQHmtta6CIiPktDaqU3HJe2jhxM5_ehPv2kYE4ABy2OJtUxOhkEUumq0zOzzabB2nXrOgQCXOq85vLwpIQiA6CDvASLnf11RpisHIaNAOC3TmUNrRvSGTk3wXj95A"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0Aa9Vdym-X9i6S-aYvItp9LeALM4RzdB8awRw_LRKqcPjgd9b7c-6V3IrH_urDRU3vUprUvL9s_DTdtRBWQL-ubpmd9U1gQ1x4Q9s362kowo34Te4pU6HrtMkeWdzciDMHSi7loNl7kz_-AvBYZAwF8Qm5kpH2uT5BS-PRzV2jCgvmXL_v1blyVm1DbfBoedfAvnoX0CBB-A4Q6QhcFID5O49jc5OHWo........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 09:31:00 GMT"},{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8'!A2:B1000","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9Vdym-X9i6S-aYvItp9LeALM4RzdB8awRw_LRKqcPjgd9b7c-6V3IrH_urDRU3vUprUvL9s_DTdtRBWQL-ubpmd9U1gQ1x4Q9s362kowo34Te4pU6HrtMkeWdzciDMHSi7loNl7kz_-AvBYZAwF8Qm5kpH2uT5BS-PRzV2jCgvmXL_v1blyVm1DbfBoedfAvnoX0CBB-A4Q6QhcFID5O49jc5OHWo........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'Категории'!A2:B1000\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"Транспорт\",\n      \"Такси\"\n    ],\n    [\n      \"Транспорт\",\n      \"Автобус\"\n    ],\n    [\n      \"Транспорт\",\n      \"Метро\"\n    ],\n    [\n      \"Транспорт\",\n      \"Другой\"\n    ],\n    [\n      \"Транспорт\",\n      \"Поезд\"\n    ],\n    [\n      \"Транспорт\",\n      \"Бензин\"\n    ],\n    [\n      \"Транспорт\",\n      \"Проездной\"\n    ],\n    [\n      \"Еда\",\n      \"Молочка\"\n    ],\n    [\n      \"Еда\",\n      \"Готовая\"\n    ],\n    [\n   [...]
{"request":{"method":"get","uri":"https://api.monobank.ua/bank/currency","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Trace-Id":["379495e83a5d3aa469f1a6681b719205"]},"body":{"encoding":"UTF-8","string":"[{\"currencyCodeA\":840,\"currencyCodeB\":980,\"date\":1670104874,\"rateBuy\":36.65,\"rateSell\":37.4406},{\"currencyCodeA\":978,\"currencyCodeB\":980,\"date\":1670104874,\"rateBuy\":38.45,\"rateSell\":39.6495},{\"currencyCodeA\":978,\"currencyCodeB\":840,\"date\":1670104874,\"rateBuy\":1.042,\"rateSell\":1.059},{\"currencyCodeA\":826,\"currencyCodeB\":980,\"date\":1670146203,\"rateCross\":46.0512},{\"currencyCodeA\":392,\"currencyCodeB\":980,\"date\":1670146147,\"rateCross\":0.2801},{\"currencyCodeA\":756,\"currencyCodeB\":980,\"date\":1670146139,\"rateCross\":40.141},{\"currencyCodeA\":156,\"currencyCodeB\":980,\"date\":1670145694,\"rateCross\":5.3198},{\"currencyCodeA\":784,\"currencyCodeB\":980,\"date\":1670146196,\"rateCross\":10.198},{\"currencyCodeA\":971,\"currencyCodeB\":980,\"date\":1663425223,\"rateCross\":0.4252},{\"currencyCodeA\":8,\"currencyCodeB\":980,\"date\":1670[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5'!A:I:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"Транспорт\",\"Такси\",\"=1000000,0 / 37,4406\",4,12,2022,\"04.12.2022\",\"37,4406\",\"1,059\"]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9VdynknvSFIaTq[...]
[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ120","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9Vdymt3nGmk6u35rtL2X81JTfypViD1b5t2XdNfFJtQYdQu-HYvJTywP5mDxFNzTS8MLVs5lJ_c2ZhKGJnky4qaUvyxYWg_LOkRP-tcEzWBDsLVp-vKTuRfKfBUxiXnhlBB86LIqpRg4QvmiLXV76A43jcdeJiaM9a8NA2TCGR81g1ruqGATyv315La3L08DaMCnzZRGZSsPTVUWuBY15V2tjDtaQ............................................[...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!BX109?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[1007701.49]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9VdymIRDmim0ZynJAQd0OyrjAs9t2Rn_psf9JjiDHhtFW3P8x3q503L-MIo6GpBk3fT3s7Iv27lxS3Cls3ubwSgeJm-uUtUXEf9CCxiV6m72dsIMT5R-1zUoYpKEn8G5t8d0QPJU42Kc9AcQfAYWHJU2cszatnbThKGgihmpkKS9kBcdrTUJs4QdogaN-WBCIMGLvqZld-jTTdqR7hR4a2DzKupc8........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"updatedRange\": \"'2022'!BX109\",\n  \"updatedRows\": 1,\n  \"updatedColumns\": 1,\n  \"updatedCells\": 1\n}\n"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 09:31:00 GMT"},[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg:batchUpdate","body":{"encoding":"UTF-8","string":"{\"requests\":[{\"repeatCell\":{\"cell\":{\"userEnteredFormat\":{\"backgroundColor\":{\"green\":0.4,\"red\":1}}},\"fields\":\"userEnteredFormat.backgroundColor\",\"range\":{\"endColumnIndex\":3,\"endRowIndex\":6659,\"sheetId\":2079267030,\"startColumnIndex\":2,\"startRowIndex\":6658}}}]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9VdynG-kYUyXyJOU_Ryp0lTLSVcX7JSFDWhXGRsbf0Xy2xATZunz6-fnzfSxJ6M_WFgcshraqUJHmZU11lLIsZ5oP4HWCgxYHc-SSkGaczJ56iAo4P7BV-4lXQmztRhHEq2hJrfKNGzD4PAfuRZyCEe45eChhUABWyw-dAyHbXzQbIIZ-26_5CMdDi4rZf2T01cWQk1A89UJUHt4PcFDCVB1IuFMI........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"replies\": [\n    {}\n  ]\n}\n"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 09:31:00 GMT"},[...]
