{"http_interactions":[{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcwMTUzOTQwLCJpYXQiOjE2NzAxNTM4MjAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.hqOsFiHg6O-vq9wuLLdqYyZCvBy-eBYpUlGkjvT8ja3icBeI3Vv6BxLzjZCrYE6GVP2zsWBuuPxFDrJu5TZD-QtiLRV6AHlyJZr6yBl-pCFOjLQbq1FG-ryThIfyVL-hi2ECVmDf0wohFvA0zXxsJGMEgMR-Tg2Wg4SWxpgpe7L02SIHfnAABZGjl1TrTJdGvXq0EW0JGkd-0xr1Z1biZWfA-Ew0LxlBBDCmQBec4Yi9AZVn7Fw-DNHaThGYI_wcLg4dKs6nTyOr69qO61sGBSKSVE-rXZBqWNU3hItgv1kTK_-zgro7TSkAsVRpgThWjwUbzpSpHpixlr3U_VwbtA"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0Aa9VdynZwN4GtwMkauvNRvfLR2mVZdmkuS7BaejkdWv18dUMEK8rd3rxl11jYOUdibZbIfysuI0Gfyx4re0CENmRJrI94GCmcrbwhUu1gsXUS9-NYRz09b5gobvD3en1ie1mAe0Au7BG9VQ7-oWLvRrgA6J4P5eMFR51EYnJHelP_LyqwjdO77cLGcKUg75l74CgU4V8XlR4ysz6d4xnwxMlfj5laCc........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 11:38:00 GMT"},{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8'!A2:B1000","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9VdynZwN4GtwMkauvNRvfLR2mVZdmkuS7BaejkdWv18dUMEK8rd3rxl11jYOUdibZbIfysuI0Gfyx4re0CENmRJrI94GCmcrbwhUu1gsXUS9-NYRz09b5gobvD3en1ie1mAe0Au7BG9VQ7-oWLvRrgA6J4P5eMFR51EYnJHelP_LyqwjdO77cLGcKUg75l74CgU4V8XlR4ysz6d4xnwxMlfj5laCc........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'Категории'!A2:B1000\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"Транспорт\",\n      \"Такси\"\n    ],\n    [\n      \"Транспорт\",\n      \"Автобус\"\n    ],\n    [\n      \"Транспорт\",\n      \"Метро\"\n    ],\n    [\n      \"Транспорт\",\n      \"Другой\"\n    ],\n    [\n      \"Транспорт\",\n      \"Поезд\"\n    ],\n    [\n      \"Транспорт\",\n      \"Бензин\"\n    ],\n    [\n      \"Транспорт\",\n      \"Проездной\"\n    ],\n    [\n      \"Еда\",\n      \"Молочка\"\n    ],\n    [\n      \"Еда\",\n      \"Готовая\"\n    ],\n    [\n   [...]
{"request":{"method":"get","uri":"https://api.monobank.ua/bank/currency","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Trace-Id":["c0e1ad86332bf413a269680906c86cd1"]},"body":{"encoding":"UTF-8","string":"[{\"currencyCodeA\":840,\"currencyCodeB\":980,\"date\":1670104874,\"rateBuy\":36.65,\"rateSell\":37.4406},{\"currencyCodeA\":978,\"currencyCodeB\":980,\"date\":1670104874,\"rateBuy\":38.45,\"rateSell\":39.6495},{\"currencyCodeA\":978,\"currencyCodeB\":840,\"date\":1670104874,\"rateBuy\":1.042,\"rateSell\":1.059},{\"currencyCodeA\":826,\"currencyCodeB\":980,\"date\":1670153783,\"rateCross\":46.0611},{\"currencyCodeA\":392,\"currencyCodeB\":980,\"date\":1670153086,\"rateCross\":0.2801},{\"currencyCodeA\":756,\"currencyCodeB\":980,\"date\":1670153786,\"rateCross\":40.1512},{\"currencyCodeA\":156,\"currencyCodeB\":980,\"date\":1670153622,\"rateCross\":5.3353},{\"currencyCodeA\":784,\"currencyCodeB\":980,\"date\":1670153744,\"rateCross\":10.1973},{\"currencyCodeA\":971,\"currencyCodeB\":980,\"date\":1663425223,\"rateCross\":0.4252},{\"currencyCodeA\":8,\"currencyCodeB\":980,\"date\":16[...]
[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ110","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9Vdymg0RHx9WQUcI9c1XQ4otzXgVZcuXek2jGePGqj9fhBwnrpnTR-p1XT-PWuIcwHdGGlQ1NI1zdV0_8kOdHFxsVhpI-jBaRTErdBVEPV7JSofv5zVtJgqqsc8uAoeQibqNBmH7G5HK-sOuDuyheT2da3n1u7xZ3mnJ7URILmduxuJq9BwK1-Nkjv6H8fqdawAjoym0RYeJY6kAteunDHybeCgCw............................................[...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!BX82?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[-2011.0]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9VdyneRPBvRlwdYUFv-eTHvwS7CS9fKbfrutovH9HgdeEEum6srbt7JlDipzIfXdIZFPksFvuEhg88k1iZLNp8vgycAoKUeNHDqPCnv27OU4ayOK4Z5vTvew--egmkPahnsn0hNJq8nmUXTcYyNLccX1c4N6872E7z1_HOQR6jaWtcR9nZRiDH7OcoVZsBQ6NY4Wi2V_t6W5NuQnGyrvy3a5lTSTk........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"updatedRange\": \"'2022'!BX82\",\n  \"updatedRows\": 1,\n  \"updatedColumns\": 1,\n  \"updatedCells\": 1\n}\n"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 11:38:00 GMT"},[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5'!A:I:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"Транспорт\",\"Такси\",\"=0,0024 * 1000000,0 / 37,4406\",4,12,2022,\"04.12.2022\",\"37,4406\",\"1,059\"]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9Vdym[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg:batchUpdate","body":{"encoding":"UTF-8","string":"{\"requests\":[{\"repeatCell\":{\"cell\":{\"userEnteredFormat\":{\"backgroundColor\":{\"green\":0.8,\"red\":1}}},\"fields\":\"userEnteredFormat.backgroundColor\",\"range\":{\"endColumnIndex\":3,\"endRowIndex\":6683,\"sheetId\":2079267030,\"startColumnIndex\":2,\"startRowIndex\":6682}}}]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9VdylhMZBm_JU76rtmzaPBO5D_SMguXHAjdhBU3smPDALMOQ4z86VA0PbdqwEGv4He2gD-yXfOK6d6RX6xa6xpoKxhiX8ZPDyb7RefgCoMZznTwXfkae5eK_PmQW2gN0lAXqJSwqR93mgaT82T_pIRRI5F4Jb_ZGTHcyZ_5jFk6yrhOo31kraKN-pr5JhbrXXFjJTICoxCL9Cqv5RLmIHlGPrdxjA........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"replies\": [\n    {}\n  ]\n}\n"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 11:38:00 GMT"},[...]
