{"http_interactions":[{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcwMTU2MDQwLCJpYXQiOjE2NzAxNTU5MjAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.RSFKQ_GY3kd7_jR0VCMCfUw9IuknZNbMiLyArqx-tGBUmehYie7NticPDcFDYZmq0kxObKT-Dm38jPwWTlBa8BAU2AkfwfnB7TZzC5STsYjsL7R0hlUhVYlzWwbe4plaXBO6xdd3qFXSFkfpc_VY3rSeK7MiAITQe5UsrnvN-GC_82tETaq85zjOrxYjNBAX9Rh3sNDRs252eZrwNGJKhh_rBqBplAzub8onyBGVlQcvClcojjyfYlH-4JRbr7TRMgBvzE-vRVH2K2nwcL2SGYuWKKralC2WzBlaa8mUdoCYaf8HGyfK1YtZuO3f_KZDcTyXB8n4yiEQGUnx9Wjciw"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0Aa9VdymvwRfkHAjnNwbaXd3CkexiBT3fLNTHpBDzLSzH4FObt_Yuu-mRWdKCtNqOXBkuvd_uM-7_bBtk4dBPZSNoMpXf_YE8rnZUiBC1J-T-DuFzk5VOgv4pAgh8nSes3ec-6d5SKKkRXzG4jzyiQ2OYYKVpyIRFI0Hre5E0DTzaFr66cUvHcIqDjL6CJSgSbpzN0IaLp0jnugQQqQaNNDtqCOvryLw........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 12:13:00 GMT"},{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ100","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9VdymvwRfkHAjnNwbaXd3CkexiBT3fLNTHpBDzLSzH4FObt_Yuu-mRWdKCtNqOXBkuvd_uM-7_bBtk4dBPZSNoMpXf_YE8rnZUiBC1J-T-DuFzk5VOgv4pAgh8nSes3ec-6d5SKKkRXzG4jzyiQ2OYYKVpyIRFI0Hre5E0DTzaFr66cUvHcIqDjL6CJSgSbpzN0IaLp0jnugQQqQaNNDtqCOvryLw........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'2022'!A60:CJ100\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [],\n    [\n      \"курс $\",\n      \"36,74515\"\n    ],\n    [\n      \"курс €\",\n      \"38,71983436\",\n      \"\",\n      \"НЕ ХВАТАЕТ !!! :(((\",\n      \"23000\"\n    ],\n    [\n      \"1\",\n      \"2022\",\n      \"Итого\",\n      \"2\",\n      \"2022\",\n      \"Итого\",\n      \"2,1\",\n      \"2022\",\n      \"\",\n      \"3\",\n      \"2022\",\n      \"Итого\",\n      \"3,1\",\n      \"2022\",\n      \"\",\n      \"4\",\n      \"2022\",\n      \"Итого\",\n      \"4,1\",\n  [...]
[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8'!A2:B1000","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9VdymVs6a7hSC_gohoJbdOvyx5oaSS0BNhTOwXLJ2GQtqlWZWmEEWctTh2r--khTzeAVCBuV4Ktu7Ld-x0bX-aKvW5tk6Rge8Ozo-uJdnmQRk7YLMWHrdwGeaXpGLfkpe7z_ruZSQnjs7MoLJrnwRzGz2BlmYAbSIwEYKrdLNBukLEUHSQZ9S_DRR8aHrHfS6gSO2vaqfRYVvHv9h-1xIe[...]
[...]
{"request":{"method":"get","uri":"https://api.monobank.ua/bank/currency","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Trace-Id":["1c867930f236e2049d697558a2df2e86"]},"body":{"encoding":"UTF-8","string":"[{\"currencyCodeA\":840,\"currencyCodeB\":980,\"date\":1670104874,\"rateBuy\":36.65,\"rateSell\":37.4406},{\"currencyCodeA\":978,\"currencyCodeB\":980,\"date\":1670104874,\"rateBuy\":38.45,\"rateSell\":39.6495},{\"currencyCodeA\":978,\"currencyCodeB\":840,\"date\":1670104874,\"rateBuy\":1.042,\"rateSell\":1.059},{\"currencyCodeA\":826,\"currencyCodeB\":980,\"date\":1670155939,\"rateCross\":46.052},{\"currencyCodeA\":392,\"currencyCodeB\":980,\"date\":1670155459,\"rateCross\":0.2802},{\"currencyCodeA\":756,\"currencyCodeB\":980,\"date\":1670155931,\"rateCross\":40.1241},{\"currencyCodeA\":156,\"currencyCodeB\":980,\"date\":1670155860,\"rateCross\":5.3185},{\"currencyCodeA\":784,\"currencyCodeB\":980,\"date\":1670155939,\"rateCross\":10.1856},{\"currencyCodeA\":971,\"currencyCodeB\":980,\"date\":1663425223,\"rateCross\":0.4252},{\"currencyCodeA\":8,\"currencyCodeB\":980,\"date\":167[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5'!A:I:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"Транспорт\",\"Такси\",\"=0,002457*1000000,0/37,4406\",4,\"12,1\",2022,\"04.12.2022\",\"37,4406\",\"1,059\"]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9[...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!BX105?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[12193.54]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9VdynrrArchAnjjc5punLGoLue48OTIKqs5ZVg0ns0wzWDjEvjd_Pbj7vQDTlWCSpE3u6tGAC7I4oD44GtarAd3_Y1Jxiy6_aCbq90eMkeo9aTebgFFI1v4KudrLNeq-DrRY_uCwnYdbf8gVGt-uupp_X5fS9abg0H2OwjP3mQ9yUcw50zs6HHzPWhPsHC2TzDHLrKjWDtJaYgNGFOyHdtwjh6oJw........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"updatedRange\": \"'2022'!BX105\",\n  \"updatedRows\": 1,\n  \"updatedColumns\": 1,\n  \"updatedCells\": 1\n}\n"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 12:13:00 GMT"},[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg:batchUpdate","body":{"encoding":"UTF-8","string":"{\"requests\":[{\"repeatCell\":{\"cell\":{\"userEnteredFormat\":{\"backgroundColor\":{\"green\":0.8,\"red\":1}}},\"fields\":\"userEnteredFormat.backgroundColor\",\"range\":{\"endColumnIndex\":3,\"endRowIndex\":6685,\"sheetId\":2079267030,\"startColumnIndex\":2,\"startRowIndex\":6684}}}]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9VdykKCYlUSrZROWJuz6PEdDsMV-CMNR-RvITQWHhBnGmwaFOnvdOPvbkzSE-baMrsHaRlQRSMnWmxtPbx38_yKrmPguYgP3Y3wvyEDwB92gTuuU_4CGu5fzp1CPl9BNffAO9YYi8jqhFpLzcRVhnejznHr0tMZ4md2nABsfoC_fcVr4yiWZLNzPu2cMZvYizpuUl27eAqBy2k1z3qagAO6pdOuBQ........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"replies\": [\n    {}\n  ]\n}\n"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 12:13:00 GMT"},[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!CB74?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[4280000.0]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9Vdynw3qyIjZSzCJCTAstFeQRBF9VgQb8h9PeCD2QG5AEhNFZH3-KfdwrVkV58rfABHg1Mnl3oWQx6LogBnqpQSRSD7Y1-1Zdoaw6_2UX8FvVmrL7iU4mHwitOt4lV-9viPELn1xjcnSdZPRAXm5T3LRQHxIR0SlL93KoYK-TJ6pevL12[...]
[...]
