{"http_interactions":[{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcxNTQ3NjgwLCJpYXQiOjE2NzE1NDc1NjAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.uzSbblcTMPm8x-n_wqXDMamTfweaDkURpmZcnIwhPxo9fslj1kxPbDcx1454117-8iSg7zea4OSxGwURefbB1bkjltZ1Lvw3np_j2atDRBJl-y8KREVE1ODxJd8vasXlr8EsSu3AhxMASK_qKVJRXmJFcJwqP6f_Y_HULzz2nAyt2jIp9OHHWN4Y3lzAGFlp_5Qc-wxEwVQveSz6pwxQPYHq392TSUthP9xyirnO6drUU12CPLZYmmoXjURQ3-YNPeQwo2JC__2CzMe9bn11U7tE1lynQG58wSqu3U6hogfDJHEbXW6feheCcL919KiNf4ROEZgJBi6xzwbZlQAuow"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0AT7lpjAIo550D8MaBQm49wsFtxbJNxSfkfQ315psmmm8im8_5kPSbd6D3w52aOP39Fe-EkRfAicyXocoodwyofo39g-h2H8U9BKghidKxCreky1HiMfTxWOB5cSNBm4miOYYBCq-6aeMQmfM9JZli3KYQV2jFng39-LBktmDpXS6Hs6vw-PWKVPbhv4jFpY1bfQ6lumqjYSsUDeNcc_QFnfb8DlFohQ........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Tue, 20 Dec 2022 14:47:00 GMT"},{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ100?valueRenderOption=FORMULA","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjAIo550D8MaBQm49wsFtxbJNxSfkfQ315psmmm8im8_5kPSbd6D3w52aOP39Fe-EkRfAicyXocoodwyofo39g-h2H8U9BKghidKxCreky1HiMfTxWOB5cSNBm4miOYYBCq-6aeMQmfM9JZli3KYQV2jFng39-LBktmDpXS6Hs6vw-PWKVPbhv4jFpY1bfQ6lumqjYSsUDeNcc_QFnfb8DlFohQ........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'2022'!A60:CJ100\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [],\n    [\n      \"курс $\",\n      \"= GoogleFinance(\\\"Currency:USDUAH\\\")\\n\"\n    ],\n    [\n      \"курс €\",\n      \"= GoogleFinance(\\\"Currency:EURUAH\\\") \",\n      \"\",\n      \"НЕ ХВАТАЕТ !!! :(((\",\n      23000\n    ],\n    [\n      1,\n      2022,\n      \"Итого\",\n      2,\n      2022,\n      \"Итого\",\n      2.1,\n      2022,\n      \"\",\n      3,\n      2022,\n      \"Итого\",\n      3.1,\n      2022,\n      \"\",\n      4,\n      2022,\n      \"Итого\",\n     [...]
[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8'!A2:B1000","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjAOrS6NtFQGLGAA4XV6qrNoMshN0q2jmuVU3jJCc3c46u_hM3S_gxahHPh33jW1LPwK6HG_b4LKmHSMtDT-_1U1C2KoOPcOoK42kSLl4hcYjq8qZmjB96ecVTH5Rriq6stsypAGruJZG4FTbvTLr0QOoXGz2cNCFsMVSqGo5mlObyNP9Bhu6xmsBEzkCp8ekiFHEEP9ujuu20W7jBZP[...]
[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ80","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjDpH6RSnZN5u_vtl6EiwCzLXjIUCbb3iV1lnLmHSgBESl0DzafUdtK9tGJaP3Mj4xd8RA8mZmteRm-so2gzKHQf6OQDUry8hX0JOdKQf1Q5EgvtH0OSiFD4q_OVU_79CljxvccXTkzqD-KQ_wPsndsUs9HIcXEv8PljpAfO9fyNrjFKZAl1dlQWTBOSa1Eur72hqYKAFwFFCB0cAJtqyzIT-0g.............................................[...]
{"request":{"method":"get","uri":"https://api.monobank.ua/bank/currency","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Trace-Id":["89d3b8af9106fff7b8737a86bd87bb46"]},"body":{"encoding":"UTF-8","string":"[{\"currencyCodeA\":840,\"currencyCodeB\":980,\"date\":1671487274,\"rateBuy\":36.65,\"rateSell\":37.4406},{\"currencyCodeA\":978,\"currencyCodeB\":980,\"date\":1671518474,\"rateBuy\":38.9,\"rateSell\":40},{\"currencyCodeA\":978,\"currencyCodeB\":840,\"date\":1671518474,\"rateBuy\":1.054,\"rateSell\":1.069},{\"currencyCodeA\":826,\"currencyCodeB\":980,\"date\":1671547589,\"rateCross\":45.8642},{\"currencyCodeA\":392,\"currencyCodeB\":980,\"date\":1671547507,\"rateCross\":0.2761},{\"currencyCodeA\":756,\"currencyCodeB\":980,\"date\":1671547573,\"rateCross\":40.3382},{\"currencyCodeA\":156,\"currencyCodeB\":980,\"date\":1671546909,\"rateCross\":5.3717},{\"currencyCodeA\":784,\"currencyCodeB\":980,\"date\":1671547586,\"rateCross\":10.1973},{\"currencyCodeA\":971,\"currencyCodeB\":980,\"date\":1663425223,\"rateCross\":0.4252},{\"currencyCodeA\":8,\"currencyCodeB\":980,\"date\":16[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5'!A:J:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"Транспорт\",\"Такси\",\"=0,002513*1000000,0/37,4406 / 2\",20,\"12,1\",2022,\"20.12.2022\",\"37,4406\",\"1,069\",\"m\"]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer y[...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!BX105?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[19588.26]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0AT7lpjCN6dyLsTHM_8dyRWaaOD0bILXXlrcmkhsFJ_dihxL3CSlhNd63fedhWQClmcLlWyI99guiPBNIkf1xze9uL_jbUo6duUsWY2Af6S6UNSrXCmZKO3xRIj2yKvzMburmcf6Rf60b5XAk1LC9EwMrAwujM08fudO9S-k2IAC9efpzCiHyjdLmfx0pmywNoP2jg_-g-Mg9GIBm3kbkKPI4DLDWFEg........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"updatedRange\": \"'2022'!BX105\",\n  \"updatedRows\": 1,\n  \"updatedColumns\": 1,\n  \"updatedCells\": 1\n}\n"},"http_version":null},"recorded_at":"Tue, 20 Dec 2022 14:47:00 GMT"},[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg:batchUpdate","body":{"encoding":"UTF-8","string":"{\"requests\":[{\"repeatCell\":{\"cell\":{\"userEnteredFormat\":{\"backgroundColor\":{\"green\":0.8,\"red\":1}}},\"fields\":\"userEnteredFormat.backgroundColor\",\"range\":{\"endColumnIndex\":3,\"endRowIndex\":7007,\"sheetId\":2079267030,\"startColumnIndex\":2,\"startRowIndex\":7006}}}]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0AT7lpjCrAWu7qfbNOJoBcnXJZZ-JqMEPgDpq52fn7FY43rnzEzWwPjFGE3Z_-jt5gFZl9E9basZOK87z4jl8gGslRozYJg7Df2O0-zpXapuOIGyAAsnY71h1K14fF4OA6wQZ-5zs_sNKce0FdYh7P28tR2l8KFol_8_v_N-kfM650y7DStTLy0bAQpor6g6bDbBOCsB9hoXUWHVPmnIjC2IsOMszo50........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"replies\": [\n    {}\n  ]\n}\n"},"http_version":null},"recorded_at":"Tue, 20 Dec 2022 14:47:00 GMT"},[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!CB74?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[6850000.0]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0AT7lpjDYWR24GuedUPer_HF_TgsW4YLovBzXQpHS7digwgQm52bVG70_oCRdQcw1RGDCF3Ucdmi3W_2gDcfPA76lmPG2W9SQXzcAE0KD6l3FxTaq9lWO9CLquTI_Gp1L-SphmxFVUf9S_dHI44pcogSyhrEZkIdlSYFJdNMW25IkXzKKhBh[...]
[...]
