{"http_interactions":[{"request":{"method":"get","uri":"https://api.monobank.ua/bank/currency","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Trace-Id":["e21f7e44ab46f36b2694f9d75ad116f0"]},"body":{"encoding":"UTF-8","string":"[{\"currencyCodeA\":840,\"currencyCodeB\":980,\"date\":1670018474,\"rateBuy\":36.65,\"rateSell\":37.4406},{\"currencyCodeA\":978,\"currencyCodeB\":980,\"date\":1670046675,\"rateBuy\":38.45,\"rateSell\":39.6495},{\"currencyCodeA\":978,\"currencyCodeB\":840,\"date\":1670046675,\"rateBuy\":1.042,\"rateSell\":1.059},{\"currencyCodeA\":826,\"currencyCodeB\":980,\"date\":1670056216,\"rateCross\":46.0591},{\"currencyCodeA\":392,\"currencyCodeB\":980,\"date\":1670055856,\"rateCross\":0.28},{\"currencyCodeA\":756,\"currencyCodeB\":980,\"date\":1670056225,\"rateCross\":40.1507},{\"currencyCodeA\":156,\"currencyCodeB\":980,\"date\":1670055815,\"rateCross\":5.3136},{\"currencyCodeA\":784,\"currencyCodeB\":980,\"date\":1670056211,\"rateCross\":10.1955},{\"currencyCodeA\":971,\"currencyCodeB\":980,\"date\":1663425223,\"rateCross\":0.4252},{\"currencyCodeA\":8,\"currencyCodeB\":980,\"date\":1670[...]
{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcwMDU2MzIwLCJpYXQiOjE2NzAwNTYyMDAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.ZfvHcQC8bdTtiezaoLcJGy2SwpKuOrPEuIp-NJmrDD9EneU8tRW-OjLxoE0jkZnRqUHx9NlwK4u0OW1Z5_qBXFZMEWvBULjHwEUYa_jESXN_giLbQiQPIKi_4qHKmvCgTTIAJiRnLl-yTyeT14jqyppDT8RbZKUTbKyOO6zFTUSBgY4oxg7ByoUT025kkuD6ijMTJRp5pJAQLlISuGV2vYYolgcN2Ib6vvo73pwUwOcbonrdwN6n6jnD65N0hqn8u1yOG8BjRI0QQixHtn8-ypj5VGyaONIM6gLpnBVfObleZXnMoiB0QgsD1RIYUS9JKaeZsZULnl041RWpg6bSgQ"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0Aa9Vdyl05YltDPu6PXbvwsp63jv47d9wyK_DaWzBM1PnZbvkRGXzA7Cjk8A4wF-1rUDYqzQeSL2SNA6q379qEHRaT7j37Ntzz8G9vok9xOVZ9FyGVO2EJV5hlb43CBRYbZ5bUioZDCsPNVipbgq0XannpwvnPZZH3LT21Ujp9oGfeKdr-HLwDjLtAiseMh4V-ocVboRzc5cVW1KZ48-_cIqGsFIReAk........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Sat, 03 Dec 2022 08:31:00 GMT"},{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5'!A:I:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"Транспорт\",\"Такси\",\"=1000000,0 / 37,4406\",3,12,2022,\"03.12.2022\",\"37,4406\",\"1,059\"]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9Vdyl05YltDPu6PXbvwsp63jv47d9wyK_DaWzBM1PnZbvkRGXzA7Cjk8A4wF-1rUDYqzQeSL2SNA6q379qEHRaT7j37Ntzz8G9vok9xOVZ9FyGVO2EJV5hlb43CBRYbZ5bUioZDCsPNVipbgq0XannpwvnPZZH3LT21Ujp9oGfeKdr-HLwDjLtAiseMh4V-ocVboRzc5cVW1KZ48-_cIqGsFIReAk........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"tableRange\": \"'Повседневные'!A1:AJ6654\",\n  \"updates\": {\n    \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n    \"updatedRange\": \"'Повседневные'!A6655:I6655\",\n    \"updatedRows\": 1,\n    \"updatedColumns\": 9,\n    \"updatedCells\": 9\n  }\n}\n"},"http_version":null},"recorded_at":"Sat, 03 Dec 2022 08:31:00 GMT"},[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ120","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9Vdym9zxJaYVaHOqNqiDPlUblFrD4DZcTJ4aorSbUxTN_33stmPNtn3ELqtbgwVaUYsruUaslmByxuUr58-zZf3MvINsHm3vrZ4IztX1Erx1XL3J2wV1zTIxChjsRuaLbXVs9GPL_ByAWmd0zZS39ZQKJqW8YBPCaP_johSKN4lYuMl7IlTKh3N4U-Pa5NpqKRdN4-PNlns5YBvz5UO265gxPswWA........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'2022'!A60:CJ120\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [],\n    [\n      \"курс $\",\n      \"36,76957\"\n    ],\n    [\n      \"курс €\",\n      \"38,74593438\",\n      \"\",\n      \"НЕ ХВАТАЕТ !!! :(((\",\n      \"23000\"\n    ],\n    [\n      \"1\",\n      \"2022\",\n      \"Итого\",\n      \"2\",\n      \"2022\",\n      \"Итого\",\n      \"2,1\",\n      \"2022\",\n      \"\",\n      \"3\",\n      \"2022\",\n      \"Итого\",\n      \"3,1\",\n      \"2022\",\n      \"\",\n      \"4\",\n      \"2022\",\n      \"Ито[...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!BX109?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[2007701.49]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9VdylaCJyvOt4G1UxK43L9wXTDO_wd1ONBzvYtOBrSdA70PwwSAOvR52EwYIdzEtqSgpucEdfhZUNeLAK25TQXZiSo8QdOZzw94LxC1iKwhzZTj0N3BGZUWeEJP2oNfpZKFkywghMgMiHiKBJO7WlBAJDFdym1ZmR3G2_bINtKeGncJ[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg:batchUpdate","body":{"encoding":"UTF-8","string":"{\"requests\":[{\"repeatCell\":{\"cell\":{\"userEnteredFormat\":{\"backgroundColor\":{\"green\":0.4,\"red\":1}}},\"fields\":\"userEnteredFormat.backgroundColor\",\"range\":{\"endColumnIndex\":3,\"endRowIndex\":6655,\"sheetId\":2079267030,\"startColumnIndex\":2,\"startRowIndex\":6654}}}]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9Vdym3vyCdQb_WudqPDUaEVsQPH6QB-8g2fJGldZCVC_l9yXV_gX2vLdhxX7JsDDEAxbaNrqkEMWWkh7BR6uagAfsWNzaSRZxL_4OhMHm7OvKVhc-x49BQj34rYclMz4QKh73eYD1YvXQLGJyET7vIg5w7_hbx6kwt14lyQTe0o96yYyFmco-4qHfb739KMUyoKx73bDv0y2PqOCWeCmys5u3bO9A........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"replies\": [\n    {}\n  ]\n}\n"},"http_version":null},"recorded_at":"Sat, 03 Dec 2022 08:31:00 GMT"}],"recorded_with":"VCR 2.9.3"}