{"http_interactions":[{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcxMzUwODgwLCJpYXQiOjE2NzEzNTA3NjAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.M-wbUhSAvK_K6OglQfDGQ8OC_BOxkO9aECw7AkfQKNdHMLbHh9Wp5OJfmBK4BcCeDIwau9HSASKBHZd650UIwTbAWvy87V2Xi2spGqEnTEDwGzsOGXbKbc4oPYW3VCbb67hACleorKrhhW5-FyA0bX7QxC9DWv5jdaT0QuZIkB8tkUCwWw2BCuyjfO0kaPzhCrF0qTNZaa85TkabuHBYO1tbjTxCon3xxoZe3N4I0N3tom6ohQ8DNC-rJeEI1jjm29EXhM8zAKzp4lBjL2TrViNb1AdkrerBIfqrmcL7mFzGV98dhHNFTKYoUicph9NxgL62fmyyRfhVY9NKJVEnnQ"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0AT7lpjCwvbyIPK_l7LQMy-9kEMJEUL86G00l-1G2NQvvLn6yq5fHEkzM41cQ3sTI8jwhH0c6Wm6GacgAFq_rzAxVXYBRgaXTzn3bvJ6vJHAYE__nYSt2zwJFbHQH5wiFytyItiE0YkosOcaViaLja3TEdItkTr31rHl-xQHlKv0DV5RN8dtHYejUHO_P9xnJ3wowvIS0O9zCJZ_a2gu6LE7THI2WCeE........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Sun, 18 Dec 2022 08:07:00 GMT"},{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%A1%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0%20%D0%BD%D0%B0%D0%BA%D0%BE%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D0%B9'!A1:G1000?valueRenderOption=FORMULA","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjCwvbyIPK_l7LQMy-9kEMJEUL86G00l-1G2NQvvLn6yq5fHEkzM41cQ3sTI8jwhH0c6Wm6GacgAFq_rzAxVXYBRgaXTzn3bvJ6vJHAYE__nYSt2zwJFbHQH5wiFytyItiE0YkosOcaViaLja3TEdItkTr31rHl-xQHlKv0DV5RN8dtHYejUHO_P9xnJ3wowvIS0O9zCJZ_a2gu6LE7THI2WCeE........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'Статистика накоплений'!A1:G1000\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"доллар/гривна\",\n      \"= GoogleFinance(\\\"Currency:USDUAH\\\")\\n\"\n    ],\n    [\n      \"евро/гривна\",\n      \"= GoogleFinance(\\\"Currency:EURUAH\\\")\\n\"\n    ],\n    [\n      \"доллар/евро\",\n      \"= GoogleFinance(\\\"Currency:USDEUR\\\")\\n\"\n    ],\n    [\n      \"доллар/фунт стерлинг\",\n      \"= GoogleFinance(\\\"Currency:USDGBP\\\")\\n\"\n    ],\n    [\n      \"доллар/рупий шри ланка\",\n      \"= GoogleFinance(\\\"Currency:USDLKR\\\")\\n\"\n    ],\n    [...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/%D0%A1%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0%20%D0%BD%D0%B0%D0%BA%D0%BE%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D0%B9!C33?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"=3405+2084-678-1541-717+471-72+3096-1321-65+1499-978-33-1203-100 + 1000000\"]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer y[...]
