TELEGRAM_BOT_TOKEN: ""
SET_WEBHOOK_URL: "https://api.telegram.org/bot5030642987:AAFfY5-QlrCniBg63M-ARrJsbQ_J12UjgRo/setWebhook?url=https://e29c-185-237-75-52.ngrok.io/telegram/5030642987_AAFfY5-QlrCniBg63M-ARrJsbQ_J12UjgRo"
GOOGLE_TYPE: ""
GOOGLE_PROJECT_ID: ""
GOOGLE_PRIVATE_KEY_ID: ""
GOOGLE_PRIVATE_KEY: ""
GOOGLE_CLIENT_EMAIL: ""
GOOGLE_CLIENT_ID: ""
GOOGLE_AUTH_URI: ""
GOOGLE_TOKEN_URI: ""
GOOGLE_AUTH_PROVIDER: ""
GOOGLE_CLIENT_CERT_URL: ""
APP_SECRET_KEY_BASE: ""
EXCHANGE_RATE_ACCESS_KEY: ""
RAILS_MASTER_KEY: ""
