{"http_interactions":[{"request":{"method":"get","uri":"https://api.monobank.ua/bank/currency","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Trace-Id":["5a2364c56fd6fc15c0c11a70c46c5ed3"]},"body":{"encoding":"UTF-8","string":"[{\"currencyCodeA\":840,\"currencyCodeB\":980,\"date\":1661116208,\"rateBuy\":36.65,\"rateSell\":37.4995},{\"currencyCodeA\":978,\"currencyCodeB\":980,\"date\":1661168409,\"rateBuy\":36.7,\"rateSell\":37.5996},{\"currencyCodeA\":978,\"currencyCodeB\":840,\"date\":1661176809,\"rateBuy\":0.997,\"rateSell\":1.014},{\"currencyCodeA\":826,\"currencyCodeB\":980,\"date\":1661202357,\"rateCross\":44.7993},{\"currencyCodeA\":392,\"currencyCodeB\":980,\"date\":1661200643,\"rateCross\":0.2763},{\"currencyCodeA\":756,\"currencyCodeB\":980,\"date\":1661202048,\"rateCross\":39.3006},{\"currencyCodeA\":156,\"currencyCodeB\":980,\"date\":1661201530,\"rateCross\":5.5075},{\"currencyCodeA\":784,\"currencyCodeB\":980,\"date\":1661201666,\"rateCross\":10.2108},{\"currencyCodeA\":971,\"currencyCodeB\":980,\"date\":1653058293,\"rateCross\":0.3475},{\"currencyCodeA\":8,\"currencyCodeB\":980,\"date\":16[...]
