{"http_interactions":[{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcxMTY1MTgwLCJpYXQiOjE2NzExNjUwNjAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.FYvhA9i9siHCJwqvTRhzmnt61mW1i_HmluYyiAcWNZM0hx6Q9BZxCobvdbKRJIgg5uZk01bugX2l6Z0UfVVeM0kPIB9g3jDUsFvgABSIEDUM_VgN3Kqx7pjXEx_0OjnBhmEQvqi7bHHgtL0ChLbI66j2uloYOX4hb2AsZvPkcuFIcGFIiYgypUUWaNGdPo86FrEkDiY0J4dzhdwgb3JkSrbGyuUbpzDTNw2JaHeT5OC8e5N5Hwzg6SXtizJTjES3xf3wH_f6uHUSOmaC4Mnq7VFtVr2fZk7kOWbN86ZYKyg7z1s-dxoqE0iX-e6JO6pGhYc4oQRUA_FV29I-yltnag"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0AT7lpjCZj_tjjbE2XIqSMV0yCGmRralbGIvDdS35sKfRciRIgN1j3Ndq1aMXTV9DboEZwSHHBAuHrOAJtK2BcKUqGa99_MWGNU0RYVBxE-btM54a9XcpOMXbTCWZDpVraqXEtb-m__mPSma49Vi65OnSohHolYO_sNJJbqHKtKJxNO-DqgKnLonlVkQAby8IA2DITWytENwZG4kj1nira2ggx1kf3wY........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Fri, 16 Dec 2022 04:32:00 GMT"},{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2023!A60:CJ85","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjCZj_tjjbE2XIqSMV0yCGmRralbGIvDdS35sKfRciRIgN1j3Ndq1aMXTV9DboEZwSHHBAuHrOAJtK2BcKUqGa99_MWGNU0RYVBxE-btM54a9XcpOMXbTCWZDpVraqXEtb-m__mPSma49Vi65OnSohHolYO_sNJJbqHKtKJxNO-DqgKnLonlVkQAby8IA2DITWytENwZG4kj1nira2ggx1kf3wY........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'2023'!A60:CJ85\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [],\n    [],\n    [],\n    [\n      \"1\",\n      \"2023\",\n      \"\",\n      \"\",\n      \"1,1\",\n      \"2023\",\n      \"\",\n      \"2\",\n      \"2023\",\n      \"\",\n      \"\",\n      \"2,1\",\n      \"2023\",\n      \"\",\n      \"3\",\n      \"2023\",\n      \"\",\n      \"\",\n      \"3,1\",\n      \"2023\",\n      \"\",\n      \"4\",\n      \"2023\",\n      \"\",\n      \"\",\n      \"4,1\",\n      \"2023\",\n      \"\",\n      \"5\",\n      \"2023\",\n      \"\",\n      [...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2023!B70?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[1000000.0]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0AT7lpjBhHe6fnSMoeK7jYzI5IpQYfO5O7NrJGElXA1f440p091pJAlveL9zrOdvaNIP8xIIPGywaTEdCkLWpPI-5dZCQLOFNDe5P3bH781009L7IjlihtaxBdJOI0GBvktqj4QvgdzUOSxiQKaUkYyKQB6uka5EzEgiP5lvMiG1xCtoDzOzB4LFJd2IgU_zt2cAVRAsdAUARj0Gnu4g_yfiDoyzQMZI........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"updatedRange\": \"'2023'!B70\",\n  \"updatedRows\": 1,\n  \"updatedColumns\": 1,\n  \"updatedCells\": 1\n}\n"},"http_version":null},"recorded_at":"Fri, 16 Dec 2022 04:32:00 GMT"},{"request":{"method":"get","uri":"https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Statusrequest":["OK+%C2%E8%EA%EE%ED%E0%ED%EE"], "Filename":["exchange"], "Content-Language":["uk-UA"], "X-Cdn":["Imperva"], "X-Iinfo":["13-441160548-441160618 NNNN CT(27 57 0) RT(1671165109819 473) q(0 0 1 0) r(2 2) U12"]},"body":{"encoding":"ASCII-8BIT","string":"[\r\n{ \r\n\"r030\":36,\"txt\":\"Австралійський долар\",\"rate\":24.7478,\"cc\":\"AUD\",\"exchangedate\":\"16.12.2022\"\r\n }\r\n,{ \r\n\"r030\":124,\"txt\":\"Канадський долар\",\"rate\":26.8976,\"cc\":\"CAD\",\"exchangedate\":\"16.12.2022\"\r\n }\r\n,{ \r\n\"r030\":156,\"txt\":\"Юань Женьміньбі\",\"rate\":5.2488,\"cc\":\"CNY\",\"exchangedate\":\"16.12.2022\"\r\n }\r\n,{ \r\n\"r030\":191,\"txt\":\"Куна\",\"rate\":5.1535,\"cc\":\"HRK\",\"exchangedate\":\"16.12.2022\"\r\n }\r\n,{ \r\n\"r030\":203,\"txt\":\"Чеська крона\",\"rate\":1.6007,\"cc\":\"CZK\",\"exchangedate\":\"16.12.2022\"\r\n }\r\n,{ \r\n\[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'monowebhook'!A:A:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"{:type=\\u003e\\\"StatementItem\\\", :data=\\u003e{:account=\\u003e\\\"IJ8Y_c1UAwxRHa4vAlTivQ\\\", :statementItem=\\u003e{:id=\\u003e\\\"tk6Ulh_sMFs9e_Zt\\\", :time=\\u003e\\\"1661599923\\\", :description=\\u003e\\\"Some a lot DATA where SWIFT is main word\\[...]
