{"http_interactions":[{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcwMDcyNzAwLCJpYXQiOjE2NzAwNzI1ODAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.IJXsRWqNDWM88owPlvSc3Kyddih0JMX9CxRXhD-wwSKYeGSk-EkjfW5VQia9KZJCWRlyUxChd-o6L2WoJMKPysr8WVHbJAehXGf8C2qi_T6gPvlSRmHkzicAOHnJxRKiHvuIcpplUatns7oztdvL_GjeWZuSBFKHEiZuSvFdmDP-LoKIex111CE0HkawTKMqJcDkp8AgucbAkcLENClnTvPAFf01PHYzkYYUP564LtRaeIL0ZJLG1_PoKZ20Dsx5n593XnfEvTGm5zCILuzO9pRz9-QP_k7Kx8hZNtqCQ_VycUY9ixR-E4ruIHJSTlQyrMVV7KclUSSSs-KSPAi9Ew"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0Aa9Vdyn6bhrxtnyzPYIOjHokLknmsZ5A5DQuEMvAzd9_rEfIDa7G_MrUX4lCWi1SDXPwHld6MaJQp4xM6D6sqGxPc7AwWxZZCgGQFaDoXXoO9rked1D6OVE2je810TJ6alFc6AKltL1hYOmpT9MpfxgrC724iBDrrJdWYIxLAwT9WLYm5sl0qvx6vtUZGz7re54hr8ImzR2Io1mvgtys6NjScWkO_GE........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Sat, 03 Dec 2022 13:04:00 GMT"},{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ110","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9Vdyn6bhrxtnyzPYIOjHokLknmsZ5A5DQuEMvAzd9_rEfIDa7G_MrUX4lCWi1SDXPwHld6MaJQp4xM6D6sqGxPc7AwWxZZCgGQFaDoXXoO9rked1D6OVE2je810TJ6alFc6AKltL1hYOmpT9MpfxgrC724iBDrrJdWYIxLAwT9WLYm5sl0qvx6vtUZGz7re54hr8ImzR2Io1mvgtys6NjScWkO_GE........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'2022'!A60:CJ110\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [],\n    [\n      \"курс $\",\n      \"36,74515\"\n    ],\n    [\n      \"курс €\",\n      \"38,72020181\",\n      \"\",\n      \"НЕ ХВАТАЕТ !!! :(((\",\n      \"23000\"\n    ],\n    [\n      \"1\",\n      \"2022\",\n      \"Итого\",\n      \"2\",\n      \"2022\",\n      \"Итого\",\n      \"2,1\",\n      \"2022\",\n      \"\",\n      \"3\",\n      \"2022\",\n      \"Итого\",\n      \"3,1\",\n      \"2022\",\n      \"\",\n      \"4\",\n      \"2022\",\n      \"Итого\",\n      \"4,1\",\n  [...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!BX82?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[-999566.0]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9Vdykza2jLrVFxj37dKoOT3T8tF74zGmGtqRpJWISE3KlutWVrFhj9PdJwOaPTrasdyUhY51miCDa6weQprU2eafmh12OJxt-zKYye6-GqESuLZBtZE7N0NmVHsZ30v5ZCjXu8818aIPhmeZtYc9PqKsfbvsyJLQKi97HCyEhsVyFrofO27vO8t6FpXkfab0KkmWGIuFR43JAQ2uUVzr-iWo6g5ak........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"updatedRange\": \"'2022'!BX82\",\n  \"updatedRows\": 1,\n  \"updatedColumns\": 1,\n  \"updatedCells\": 1\n}\n"},"http_version":null},"recorded_at":"Sat, 03 Dec 2022 13:04:00 GMT"},[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5'!A:I:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"Транспорт\",\"Такси\",\"=1000000,0 / 37,4406\",3,12,2022,\"03.12.2022\",\"37,4406\",\"1,059\"]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9VdymOI8ZnHEs2[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg:batchUpdate","body":{"encoding":"UTF-8","string":"{\"requests\":[{\"repeatCell\":{\"cell\":{\"userEnteredFormat\":{\"backgroundColor\":{\"green\":0.8,\"red\":1}}},\"fields\":\"userEnteredFormat.backgroundColor\",\"range\":{\"endColumnIndex\":3,\"endRowIndex\":6655,\"sheetId\":2079267030,\"startColumnIndex\":2,\"startRowIndex\":6654}}}]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9VdynJMhbD11m2XIIJV2kH9w9mzSgSJ7RSXULheD7xRW2EjOKSO7fCZXAlPtLPZOfkOnlEys-BCRAID7d1dNnlmnrfw8QSrMGpKEq5Q5J_JSLhlldcMtxN-xfHAOm9GyiF4vhQ_vwGsvaM9A8k9MVH5WXLlw2dWR3PK5kHKNJSGmbnXnqzLBzJDwFzUvNPWUwtmYjfY2BQoiK7-853bFD2U5ueqlU........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"replies\": [\n    {}\n  ]\n}\n"},"http_version":null},"recorded_at":"Sat, 03 Dec 2022 13:04:00 GMT"},[...]
