{"http_interactions":[{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcwMTYzOTYwLCJpYXQiOjE2NzAxNjM4NDAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.ND6xK1yy7BNb4KjVovXbORS-bO5KI85Eo8zIRnKqiBYoHYnY1UFBeaBQWoAEd6z18YsoiIaWt2ZGEm2vPdTLVr5Twex7YN-TvKkE_0QoFnQuUoU-upPvZWQ6J8HyiU1luaSjQBGc74gQKtIybEw7ZZkZ3YSJZei3G4UlO5ZDSXWUnnNhu2iQAupu3AV1jZIO6XcuUOhpvyUkHd0gpTp80hTWsON1REh9Jd3RiHPKp3xt7mO9ZPrfqZ4SVdv3iNLjXxSBUbVielsHmf_jh4jYzmDNF3xkoWiS-_a38V9RgJvUVY8RUGv121Vyqg4SvdFaEtzfpMBp4upi4gt-isEeig"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0Aa9VdymmMIbatVHl8HN21v_w_czL9xlbM3SBBe0bZOQpcWZLZyx_SWeYcJXfZMO4O9oNdgqVN7PFlayw6nUqZCzYwZxdklWdrPj1WXr5V2vn_jnStqe7ejgSVFxAIoCqrwbGfV8WCHfSrYpytlILucjE7PMOuiVEtMFnfenGry_M0NuRPgRN1XPxtXj38LWDnup4d73IG_oPlttWYSGNn4oLTB20_9A........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 14:25:00 GMT"},{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ85","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9VdymmMIbatVHl8HN21v_w_czL9xlbM3SBBe0bZOQpcWZLZyx_SWeYcJXfZMO4O9oNdgqVN7PFlayw6nUqZCzYwZxdklWdrPj1WXr5V2vn_jnStqe7ejgSVFxAIoCqrwbGfV8WCHfSrYpytlILucjE7PMOuiVEtMFnfenGry_M0NuRPgRN1XPxtXj38LWDnup4d73IG_oPlttWYSGNn4oLTB20_9A........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'2022'!A60:CJ85\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [],\n    [\n      \"курс $\",\n      \"36,74515\"\n    ],\n    [\n      \"курс €\",\n      \"38,71983436\",\n      \"\",\n      \"НЕ ХВАТАЕТ !!! :(((\",\n      \"23000\"\n    ],\n    [\n      \"1\",\n      \"2022\",\n      \"Итого\",\n      \"2\",\n      \"2022\",\n      \"Итого\",\n      \"2,1\",\n      \"2022\",\n      \"\",\n      \"3\",\n      \"2022\",\n      \"Итого\",\n      \"3,1\",\n      \"2022\",\n      \"\",\n      \"4\",\n      \"2022\",\n      \"Итого\",\n      \"4,1\",\n  [...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!BX71?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[1000000.0]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9Vdylqyhf85lSdEm_JvHNlqlS8tVpdFyfsa1iCNpKZ5vuwHQz1-BcCrmaBZS22czwHuWNFoM0MzMP5SPKzTMM1wW0xjurMmel_g8WH1FOYTvgxeTYsVIsCwDE1xjbVVJt8xX5ZUVz_ryBlNV2Ttv_ycQNZDR3sQjcRnzAtiU6nnYhaizB5mDkMYv4-C9mNMZIvJVsm9Z3ndt3L6BF8uOYQpWXb8ak........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"updatedRange\": \"'2022'!BX71\",\n  \"updatedRows\": 1,\n  \"updatedColumns\": 1,\n  \"updatedCells\": 1\n}\n"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 14:25:00 GMT"},{"request":{"method":"get","uri":"https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Statusrequest":["OK+%C2%E8%EA%EE%ED%E0%ED%EE"], "Filename":["exchange"], "Content-Language":["uk-UA"], "X-Cdn":["Imperva"], "X-Iinfo":["2-148425723-148387838 pNNN RT(1670163964025 376) q(0 0 0 0) r(0 0) U12"]},"body":{"encoding":"ASCII-8BIT","string":"[\r\n{ \r\n\"r030\":36,\"txt\":\"Австралійський долар\",\"rate\":24.9416,\"cc\":\"AUD\",\"exchangedate\":\"05.12.2022\"\r\n }\r\n,{ \r\n\"r030\":124,\"txt\":\"Канадський долар\",\"rate\":27.2321,\"cc\":\"CAD\",\"exchangedate\":\"05.12.2022\"\r\n }\r\n,{ \r\n\"r030\":156,\"txt\":\"Юань Женьміньбі\",\"rate\":5.2112,\"cc\":\"CNY\",\"exchangedate\":\"05.12.2022\"\r\n }\r\n,{ \r\n\"r030\":191,\"txt\":\"Куна\",\"rate\":5.1044,\"cc\":\"HRK\",\"exchangedate\":\"05.12.2022\"\r\n }\r\n,{ \r\n\"r030\":203,\"txt\":\"Чеська крона\",\"rate\":1.581,\"cc\":\"CZK\",\"exchangedate\":\"05.12.2022\"\r\n }\r\n,{ \r\n\"[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'monowebhook'!A:A:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"{:type=\\u003e\\\"StatementItem\\\", :data=\\u003e{:account=\\u003e\\\"IJ8Y_c1UAwxRHa4vAlTivQ\\\", :statementItem=\\u003e{:id=\\u003e\\\"tk6Ulh_sMFs9e_Zt\\\", :time=\\u003e\\\"1661599923\\\", :description=\\u003e\\\"Some a lot DATA where SWIFT is main word\\[...]
