{"http_interactions":[{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcxMTk5NjIwLCJpYXQiOjE2NzExOTk1MDAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.lGx5UhJF1GZFR-zlWvzU7T76-mgP6Xsu8USgkxqO_DE4ZtDQKU5ZcffZXVJYnGbJTVAY8ystw6gWjJenidxNCR0QfBXRoYm0YCL1bCqzbRvVc6GViFtjacWGnsmb7Q1FZZjoZGmdPIBddzVeBdNfs-Toas9JvB1frzprXgl8wP5Y0SoG5gzf9U7GmzLvXQ4cnFoo2Gn0uROcenGqvF0mfdin1dzN2-elvffYfRDOODInCmV8PqUV33SmQHFuwXK-SeV4LbYziYr0aiTRkp7POoaiGwzhC7XeS42DcsJ-2BEfGu1fFkEzRzSyxytM5eqmDPqF-NB9GkIJ-cT3KMKoIw"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0AT7lpjAlmHAyoRli13wd_pk7hBB7A1450F8hsUXz9FIWqcQ8Lh1x7LRNe6dNwXErE0OmOKi5JZGUqJC0AUBAy87hkJ0vwmcFuJP2t-czlJTSSnyTmocz-YczmvaBcgDpgFq4r03s1HUluoAa90KGp5RzHl2tnBLZp6cMqpluM72EdsVarc2RJYqaHC7e3HRaJXUk_HVNSQd74ZdH-0zIf2zm50Q6pZE........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Fri, 16 Dec 2022 14:06:00 GMT"},{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ100","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjAlmHAyoRli13wd_pk7hBB7A1450F8hsUXz9FIWqcQ8Lh1x7LRNe6dNwXErE0OmOKi5JZGUqJC0AUBAy87hkJ0vwmcFuJP2t-czlJTSSnyTmocz-YczmvaBcgDpgFq4r03s1HUluoAa90KGp5RzHl2tnBLZp6cMqpluM72EdsVarc2RJYqaHC7e3HRaJXUk_HVNSQd74ZdH-0zIf2zm50Q6pZE........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'2022'!A60:CJ100\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [],\n    [\n      \"курс $\",\n      \"36,76582\"\n    ],\n    [\n      \"курс €\",\n      \"39,08842714\",\n      \"\",\n      \"НЕ ХВАТАЕТ !!! :(((\",\n      \"23000\"\n    ],\n    [\n      \"1\",\n      \"2022\",\n      \"Итого\",\n      \"2\",\n      \"2022\",\n      \"Итого\",\n      \"2,1\",\n      \"2022\",\n      \"\",\n      \"3\",\n      \"2022\",\n      \"Итого\",\n      \"3,1\",\n      \"2022\",\n      \"\",\n      \"4\",\n      \"2022\",\n      \"Итого\",\n      \"4,1\",\n  [...]
[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8'!A2:B1000","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjDgYZrFCGtr6bgxljmKmKh1VHNRTRV00ZhTj52Q2Az8b18PY7FqBqa_EH1o_Y77-3Ls-PG1VCSL3lMhAz-Fp1LRWPgKyJ1KIvNHwJH3AXgw5s9MADMxyhJv66nHDB-RfNHQmaYCWjVba-FhqOgQmubLZBVAhap6f_-SzlXRwFYKGtnvZEqOXcXeytKfMm3ASzu_ShkE-h2zuyC_eF8j[...]
[...]
{"request":{"method":"get","uri":"https://api.monobank.ua/bank/currency","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Trace-Id":["4aba0acfb0769e06bd95e0a5e15ae724"]},"body":{"encoding":"UTF-8","string":"[{\"currencyCodeA\":840,\"currencyCodeB\":980,\"date\":1671141674,\"rateBuy\":36.65,\"rateSell\":37.4406},{\"currencyCodeA\":978,\"currencyCodeB\":980,\"date\":1671141674,\"rateBuy\":39,\"rateSell\":40.0994},{\"currencyCodeA\":978,\"currencyCodeB\":840,\"date\":1671141674,\"rateBuy\":1.057,\"rateSell\":1.072},{\"currencyCodeA\":826,\"currencyCodeB\":980,\"date\":1671199486,\"rateCross\":46.5906},{\"currencyCodeA\":392,\"currencyCodeB\":980,\"date\":1671197946,\"rateCross\":0.2768},{\"currencyCodeA\":756,\"currencyCodeB\":980,\"date\":1671199486,\"rateCross\":40.6164},{\"currencyCodeA\":156,\"currencyCodeB\":980,\"date\":1671198533,\"rateCross\":5.3757},{\"currencyCodeA\":784,\"currencyCodeB\":980,\"date\":1671199406,\"rateCross\":10.1964},{\"currencyCodeA\":971,\"currencyCodeB\":980,\"date\":1663425223,\"rateCross\":0.4252},{\"currencyCodeA\":8,\"currencyCodeB\":980,\"date\":16[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5'!A:J:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"Транспорт\",\"Такси\",\"=0,002513*1000000,0/37,4406 / 2\",16,\"12,1\",2022,\"16.12.2022\",\"37,4406\",\"1,072\",\"v\"]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer y[...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!BX109?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[1026469.26]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0AT7lpjDLDA_1ikyraNofPA2_qVgLCaYLIKWSLYhJgO3uFUz5Ufk48i1u9mJZC0CjNVwU3I60q3Hn7-2PGvNgC2Yij3LdAzzPOX_4IC2Pu2_tLS0YQt9kNUGbXcB6x-fmZrzshx64nHucKmDAEj6CVoYClYS4sWpNUmD4UxrW0jHmftg-RPeE4gx47krVvqzzs35PMj3tGM3nRflKALJHHjTTaq6Galo........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"updatedRange\": \"'2022'!BX109\",\n  \"updatedRows\": 1,\n  \"updatedColumns\": 1,\n  \"updatedCells\": 1\n}\n"},"http_version":null},"recorded_at":"Fri, 16 Dec 2022 14:06:00 GMT"},[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg:batchUpdate","body":{"encoding":"UTF-8","string":"{\"requests\":[{\"repeatCell\":{\"cell\":{\"userEnteredFormat\":{\"backgroundColor\":{\"green\":0.4,\"red\":1}}},\"fields\":\"userEnteredFormat.backgroundColor\",\"range\":{\"endColumnIndex\":3,\"endRowIndex\":6945,\"sheetId\":2079267030,\"startColumnIndex\":2,\"startRowIndex\":6944}}}]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0AT7lpjBD_uCRPy7mvsf9QcV6KE-fRgoEU9YCqRlL8DvqoU5IhfroMKwi0ADAYvR99lvvChjUOJ69Iwrq5g3BC9cUcqdMmHeyMdxU9UiQVwwP5isqq3denEAhaSSQaVNHugZpeht7J3jvExOPElRuxKeA-UZhx1xp3XoB42CvR8sE1O8rA2j8M8qTwPYXYEJ7oanEbR6M-cavDG0NdChY3G5ibKsbcDk........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"replies\": [\n    {}\n  ]\n}\n"},"http_version":null},"recorded_at":"Fri, 16 Dec 2022 14:06:00 GMT"},[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!CB74?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[8579000.0]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0AT7lpjBGNJs_osWdg5NmQRN-eCtEO6-qF4wXdGCGKvT_3vHwRWYUVgVE23LpcBi_Oim5OjbxjdWda044nMk4GszouBmftvuzbs4qIPZsdHQ1p0AHWfG4kg2rSsoWfR_HYddDkQkAUkaaMgsg7EoVw2oS0vl6cOycSmAQu8qwwzJ9d04_YHp[...]
[...]
