{"http_interactions":[{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcwMTU2MTYwLCJpYXQiOjE2NzAxNTYwNDAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.Y2wzirQU2Dc2VMed4l9Lh6VE4UNDfnpPQgmwt1Q6Hqx0X1w1bxiZPctO9VALZ4T9OREbsILHt_fNMVyZR9_LGTqoOkKhmPFQh8InT8fCfoOOtusqViEKj5fR54UEnNsuDUhnxORaN4Q_GEBtHyjzPB0LJtHdkgnk5we-oGZDJ5E-XPTBHmDXa2EzI7Zs0N8cee9uP9Ds_a84EUVdr7rJyqVdrqIM-62GCtpXSjr1CjW5ubDNsawbDQhlcHvBHYLU0vI1TrCLofePWww9utQU_yNUGlCWIq7MMkIEKVueets7lxA5wZIilNbNlX5Lq7k_JqF1sKtJm5k8oYcDhrXfnQ"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0Aa9VdynAz-nkw4EogU1_i_ReMw-Hfcyd-9sokOwm3rCiVJy56C5iOo-tO3K_zsnoI9gdxjl4fC9uGpPwowFsj1tV4fzbwpGQJbiaXxoXI8W1Dsv0oiJpZNaq3CBBLOaj2jYKRkM73KPOSL3MLJnapdAKAM5PxlG5pdvSgl5Mn_eodyCwv5ln1o1avvMM3E7bWS8LERpOkrDs-AmG68kkgu_90vr77Bc........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 12:15:00 GMT"},{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ100","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9VdynAz-nkw4EogU1_i_ReMw-Hfcyd-9sokOwm3rCiVJy56C5iOo-tO3K_zsnoI9gdxjl4fC9uGpPwowFsj1tV4fzbwpGQJbiaXxoXI8W1Dsv0oiJpZNaq3CBBLOaj2jYKRkM73KPOSL3MLJnapdAKAM5PxlG5pdvSgl5Mn_eodyCwv5ln1o1avvMM3E7bWS8LERpOkrDs-AmG68kkgu_90vr77Bc........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'2022'!A60:CJ100\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [],\n    [\n      \"курс $\",\n      \"36,74515\"\n    ],\n    [\n      \"курс €\",\n      \"38,71983436\",\n      \"\",\n      \"НЕ ХВАТАЕТ !!! :(((\",\n      \"23000\"\n    ],\n    [\n      \"1\",\n      \"2022\",\n      \"Итого\",\n      \"2\",\n      \"2022\",\n      \"Итого\",\n      \"2,1\",\n      \"2022\",\n      \"\",\n      \"3\",\n      \"2022\",\n      \"Итого\",\n      \"3,1\",\n      \"2022\",\n      \"\",\n      \"4\",\n      \"2022\",\n      \"Итого\",\n      \"4,1\",\n  [...]
[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8'!A2:B1000","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9VdymVO2wkS_ePrCHeD2v4GuePB44oS7A5Ni53BZ1qVDbJcPyjnkMQTul9nVI5JIsoR_55qlebS2vdqkl5n3AupQ3K5fDL2TvVI5xlsv2WgcZapC-oMn9_KhkKme1wdqvnljF-xuaeB0BSP9p9XAzfTDEKHeafJDrNoiZ6gKPXrZxYn4SMtmjmsVjd2hirrFpLBBzrgXSiayGRQ65bQSQM[...]
[...]
{"request":{"method":"get","uri":"https://api.monobank.ua/bank/currency","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Trace-Id":["f59e689a4892022d8c3a45da65623c7c"]},"body":{"encoding":"UTF-8","string":"[{\"currencyCodeA\":840,\"currencyCodeB\":980,\"date\":1670104874,\"rateBuy\":36.65,\"rateSell\":37.4406},{\"currencyCodeA\":978,\"currencyCodeB\":980,\"date\":1670104874,\"rateBuy\":38.45,\"rateSell\":39.6495},{\"currencyCodeA\":978,\"currencyCodeB\":840,\"date\":1670104874,\"rateBuy\":1.042,\"rateSell\":1.059},{\"currencyCodeA\":826,\"currencyCodeB\":980,\"date\":1670156063,\"rateCross\":46.0506},{\"currencyCodeA\":392,\"currencyCodeB\":980,\"date\":1670156057,\"rateCross\":0.2801},{\"currencyCodeA\":756,\"currencyCodeB\":980,\"date\":1670156048,\"rateCross\":40.126},{\"currencyCodeA\":156,\"currencyCodeB\":980,\"date\":1670155860,\"rateCross\":5.3185},{\"currencyCodeA\":784,\"currencyCodeB\":980,\"date\":1670156046,\"rateCross\":10.1979},{\"currencyCodeA\":971,\"currencyCodeB\":980,\"date\":1663425223,\"rateCross\":0.4252},{\"currencyCodeA\":8,\"currencyCodeB\":980,\"date\":167[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5'!A:I:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"Транспорт\",\"Такси\",\"=0,002457*1000000,0/37,4406\",4,\"12,1\",2022,\"04.12.2022\",\"37,4406\",\"1,059\"]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9[...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!BX109?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[11026.54]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9VdymGb2TzGQT1s-8_Y2FS8cuO5hIS84-dKEV97hQwhwt7mG-ttazo_BXOhLvbWQBsmQcria2oWxzFsvu1Atoox7vQosN5Q1PLB-u88a_YBGeuCd5Q_omrY4OXrbvQ9YUzYp0dQzME1eYHIS_DxGoZAfbbn7CV8uHn-NvlXypucVjw1iDG-eb4EAhddeEpSQghXMlMyBeiyO8aJ-Cy-U5l2nMLctM........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"updatedRange\": \"'2022'!BX109\",\n  \"updatedRows\": 1,\n  \"updatedColumns\": 1,\n  \"updatedCells\": 1\n}\n"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 12:15:00 GMT"},[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg:batchUpdate","body":{"encoding":"UTF-8","string":"{\"requests\":[{\"repeatCell\":{\"cell\":{\"userEnteredFormat\":{\"backgroundColor\":{\"green\":0.4,\"red\":1}}},\"fields\":\"userEnteredFormat.backgroundColor\",\"range\":{\"endColumnIndex\":3,\"endRowIndex\":6687,\"sheetId\":2079267030,\"startColumnIndex\":2,\"startRowIndex\":6686}}}]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9VdymD9-6Zeoxh0xgYyEuh1F-tAiX1anGdQiTBow5Qd54RoQBy5lMkjU4Mf2uc4CoRvVZBU9EKCV1FlqAhpDha-du3mqrAtTgQiOvS_hDRmu-Lq1jacQn_iqShW3DwQ26V5WPoAU0OK52i0J0TDXUxqpL4slpNDoOp1gJ6KgSSJueEtO-3R4PZEug7rwuInMcSlSoXgVQzocTDflmxIUqihfrVzTs........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"replies\": [\n    {}\n  ]\n}\n"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 12:15:00 GMT"},[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!CB74?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[6280000.0]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9VdymU0qRjv5VVlemPXgLgYazY2Xqk8GQ6SIeMzvsB2SYp85nuXNqXkTzIjiBCOTJVNVsgQSgN_dkdmRMsmosT-0jTEOhkjwXWeWGbYQs2GmRGfxWLYuCb6zut7I1rMHHv2Dl787T4RBbF2tekKb2Kuizbv0m0BIx77WO2aWLZl_ZdD1N[...]
[...]
