{"http_interactions":[{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcxMzUwMTYwLCJpYXQiOjE2NzEzNTAwNDAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.dwxOCO6CSWwVdz_QicYVL9VnlvvVHhBpZyUBSyd6EhLnataw5EpEx4qg1FCwZ5Uf9PFe-gnAWLHFUyauq_b69hiuR2qyDsXM560KN-L3x8Sd0rby9n-spnpOZ2KKGd0hE4_-4WKivBHHUI1l2oH2jVHoB-GjmznTbs-Wy0WT8BlUEgU0_A5WkiSHUeQOTQ_ZvJl4ZnWEFCSwapwSI_YS37eO43TGpJhBSby3yIgDKSjYnmKrHpU4SsK5OP420eCfbowk1MT5m3xfZsPGc83V1BNs-mQk-ZvgUap0Yh-Qars_vZwU-NnflSVyV-oQv8U5arH6Opht7xqBVuBzarHT7Q"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0AT7lpjAzkcv0OnvJ4e0gYT1kjCMVLebrWIKld4RdkrVslEBNP1C1aKaD0Eru_E22g73LE4noQvo_GHzlKEtRJOtRRhQH0wOpEsoQTq47u9KSTxlrda-DthSplsuWYyme9SULSrGle1RmoeF3wNLy8bsqfctTtNkQAPDS23nmcS2CfFqEZbnbUkGLCVeFlylYFs-AiqdYd_AQeeEtyfGA5qwguNWUIU4........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Sun, 18 Dec 2022 07:55:00 GMT"},{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8'!A2:B1000","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjAzkcv0OnvJ4e0gYT1kjCMVLebrWIKld4RdkrVslEBNP1C1aKaD0Eru_E22g73LE4noQvo_GHzlKEtRJOtRRhQH0wOpEsoQTq47u9KSTxlrda-DthSplsuWYyme9SULSrGle1RmoeF3wNLy8bsqfctTtNkQAPDS23nmcS2CfFqEZbnbUkGLCVeFlylYFs-AiqdYd_AQeeEtyfGA5qwguNWUIU4........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'Категории'!A2:B1000\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"Транспорт\",\n      \"Такси\"\n    ],\n    [\n      \"Транспорт\",\n      \"Автобус\"\n    ],\n    [\n      \"Транспорт\",\n      \"Метро\"\n    ],\n    [\n      \"Транспорт\",\n      \"Другой\"\n    ],\n    [\n      \"Транспорт\",\n      \"Поезд\"\n    ],\n    [\n      \"Транспорт\",\n      \"Бензин\"\n    ],\n    [\n      \"Транспорт\",\n      \"Проездной\"\n    ],\n    [\n      \"Еда\",\n      \"Молочка\"\n    ],\n    [\n      \"Еда\",\n      \"Готовая\"\n    ],\n    [\n   [...]
[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%A1%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0%20%D0%BD%D0%B0%D0%BA%D0%BE%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D0%B9'!A1:G1000?valueRenderOption=FORMULA","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjAXgs3rQN1AHv_3zFXTogZgkt-7o095gptLjE-rDETSzgamCFlp8feWlMZRfr5ZmRKkqQaWB8OSJ2om6nqcmqCjo53eq3NfzskOa4QN_4_xmc0CGfinz[...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/%D0%A1%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0%20%D0%BD%D0%B0%D0%BA%D0%BE%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D0%B9!C33?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"=3405+2084-678-1541-717+471-72+3096-1321-65+1499-978-33-1203-100 - 1000000,0\"]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer[...]
{"request":{"method":"get","uri":"https://api.monobank.ua/bank/currency","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Trace-Id":["9d63eb03d9d3e4691a0f4ec64d8de7ad"]},"body":{"encoding":"UTF-8","string":"[{\"currencyCodeA\":840,\"currencyCodeB\":980,\"date\":1671314474,\"rateBuy\":36.655,\"rateSell\":37.4406},{\"currencyCodeA\":978,\"currencyCodeB\":980,\"date\":1671314474,\"rateBuy\":38.9,\"rateSell\":40},{\"currencyCodeA\":978,\"currencyCodeB\":840,\"date\":1671314474,\"rateBuy\":1.054,\"rateSell\":1.069},{\"currencyCodeA\":826,\"currencyCodeB\":980,\"date\":1671350000,\"rateCross\":45.7784},{\"currencyCodeA\":392,\"currencyCodeB\":980,\"date\":1671350017,\"rateCross\":0.2743},{\"currencyCodeA\":756,\"currencyCodeB\":980,\"date\":1671349991,\"rateCross\":40.4883},{\"currencyCodeA\":156,\"currencyCodeB\":980,\"date\":1671349503,\"rateCross\":5.3694},{\"currencyCodeA\":784,\"currencyCodeB\":980,\"date\":1671349970,\"rateCross\":10.1931},{\"currencyCodeA\":971,\"currencyCodeB\":980,\"date\":1663425223,\"rateCross\":0.4252},{\"currencyCodeA\":8,\"currencyCodeB\":980,\"date\":16[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5'!A:J:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"Транспорт\",\"Такси\",\"=1000000,0\",18,12,2022,\"18.12.2022\",\"37,4406\",\"1,069\",null]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0AT7lpjD35B6PqPgBEVgZ[...]
[...]
