{"http_interactions":[{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcwMTYzMDYwLCJpYXQiOjE2NzAxNjI5NDAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.Scw-J1Rw6TasDNk5Ntxnhd-qKRYq_6smJo61CsmW7xS0rngTioVIDX7SbeTCfQxHICIayNejRaOixLQGCmjhyG_gYqgCF9i5I4tjnOVaRAWI08eoMkFm6E0FwPdH76UWnTnjF3BCcffm-RRJniW_koiEyFnob3bhOy45JsxPWM-_mqSQaQC5n07iEsiq-zcb0QtZlqmmLou7A87oxlhqn835MVdBvhzyzAusnTLRGe1MXQjm0qmQjo8h_StZoqeVhV6usKaaWfWsCxPoLi1NKIrTpmJbaTn3akcPgZQiTPTTYzJcFsN-v5JOQPMr_Z0kvqx7ED2EGK5noxm6W296ag"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0Aa9Vdyl702g8yY9TWaTKraniVlDSyfSXlafjPLQtKBxvCuV5wT2gU8rRhO74wm6BahvfvfsiWIRrWlAKR8_MLt0w0UgHYqvOIkBKdJ32RHrgkNzhje8JisrC3JnVs9-HcWKsJQ3u_DmxaVYz1JQ4PgruZPVfU6e7QjFJ2GFIv_XJcR_Pvmy3ScZb99gxfuG3ECojwEm3nY_RCmZuy_ifcv9X7YcR9yM........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 14:10:00 GMT"},{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8'!A2:B1000","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9Vdyl702g8yY9TWaTKraniVlDSyfSXlafjPLQtKBxvCuV5wT2gU8rRhO74wm6BahvfvfsiWIRrWlAKR8_MLt0w0UgHYqvOIkBKdJ32RHrgkNzhje8JisrC3JnVs9-HcWKsJQ3u_DmxaVYz1JQ4PgruZPVfU6e7QjFJ2GFIv_XJcR_Pvmy3ScZb99gxfuG3ECojwEm3nY_RCmZuy_ifcv9X7YcR9yM........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'Категории'!A2:B1000\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"Транспорт\",\n      \"Такси\"\n    ],\n    [\n      \"Транспорт\",\n      \"Автобус\"\n    ],\n    [\n      \"Транспорт\",\n      \"Метро\"\n    ],\n    [\n      \"Транспорт\",\n      \"Другой\"\n    ],\n    [\n      \"Транспорт\",\n      \"Поезд\"\n    ],\n    [\n      \"Транспорт\",\n      \"Бензин\"\n    ],\n    [\n      \"Транспорт\",\n      \"Проездной\"\n    ],\n    [\n      \"Еда\",\n      \"Молочка\"\n    ],\n    [\n      \"Еда\",\n      \"Готовая\"\n    ],\n    [\n   [...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'monowebhook'!A:A:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"{:type=\\u003e\\\"StatementItem\\\", :data=\\u003e{:account=\\u003e\\\"C0Hfjf2vrc00CZ_1ZCjSLg\\\", :statementItem=\\u003e{:id=\\u003e\\\"tk6Ulh_sMFs9e_Zt\\\", :time=\\u003e\\\"1661599923\\\", :description=\\u003e\\\"some unknown category\\\", :mcc=\\u003e\\\[...]
[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ120","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9Vdym74kRU-vkI7SJ2IgsFQxEle-OSsrVvB1GRQcS0LfYf_T94KWNrJ7kwvfCBbIw5VY6L4KudbszheiEz1-S4PoGOGSdhBXlAI9JnYRlfvGErDTXcRpwotwbkeKaB8EUCcg2yOwSYDeMiRKb2azlGRqoJToCp_jEtbxLaotzXd-HEwWmvFu4OEL608dHjm1PqUs-LTZzhAmBHtjdwry3Wxa3qmIM............................................[...]
[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5'!C6685?valueRenderOption=FORMULA","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9Vdykr7pPshEwLYRkay1rR46vat-J2iWjv_c7TMlAK_GNwHaUbebggaJi_EOzCHpCkAHr199Tg6UvgIVFhSXVIvq0b6mJixu63Jyz4lOFj-bySPUsTb9YRDMPOi397Ar9_RtYjBkicOgd1mDHkR252CS0G7AP84_h475_F9mv1Twu[...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5!C6685?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"=1000000 / 37,4406 / 2 / 2 / 2\"]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9Vdyn1WWA-FhEBNqmXusozaUi2sq3PE8P7fQkTLAghitbA3Em82aTBPwY6907sl0SezT40UQvZoFiqrHHup[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg:batchUpdate","body":{"encoding":"UTF-8","string":"{\"requests\":[{\"repeatCell\":{\"cell\":{\"userEnteredFormat\":{\"backgroundColor\":{\"green\":0.8}}},\"fields\":\"userEnteredFormat.backgroundColor\",\"range\":{\"endColumnIndex\":3,\"endRowIndex\":6685,\"sheetId\":2079267030,\"startColumnIndex\":2,\"startRowIndex\":6684}}}]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9Vdylk0S_2u3eC4FCv8Tyj2RFIaOALRl0JjAsyJOwXYFhyRoaWjqVDUfOQXHPwgW-5VjZwczrzqumQO4WEBHJbUW5xfxG5QQuL2J6N1qNzLsYDtIOXpkJWyqNVEuHXpStLy2lnYHUlVBcUIFXdCEe9B6vlJcwtOU001SwgBZl7k7f-gCG2u0q_2I27NgtSUYwleCsgDetKxKj9GmKEMGQT_SkyA0s........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"replies\": [\n    {}\n  ]\n}\n"},"http_version":null},"recorded_at":"Sun, 04 Dec 2022 14:10:00 GMT"},[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!BX109?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"= 1000000 - 1000000\"]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0Aa9VdymghwqpiYapquGJmGhmvsaN5MZXnsYtiR5IHriFwsZevEBPppJEHyVVPKJyyuOv3gts_UhzbVKyOQMB0wFjjEw6XfgZhSaJ_1icZ3wfb6qX6ZBvX4rZ055ojegaw9tYxuC869_Ct5kQPdCkNE0QBo-xt-xXQIE0[...]
[...]
