{"http_interactions":[{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcxNTQ3NDQwLCJpYXQiOjE2NzE1NDczMjAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.psdQ0D0VYto0eUCos_Nex658cdxYc6BJ72Qts4D3eZXPyQI-ea66clJ40Pl5wiyvJ7rTjzcjzAbyqWqEiwUJWuHa8ZU7VSgkvYgKAs3QQIjAn2EzJRof2mTgJd25tJkkhTk79iJxqP-DOECZKbclxtok_kHGabbS3p6L5VOBx30BWyD3YUvFE6gA_Yn_ErHRZQOueL-mFKVWp0YcRZ_i1HwFPe6W_lQJRDKx5GQNSFIdW_h4zfdy4fxSE-BoibMrHX8S37SDZnQY1Q641e-5htEt8lCifNr0cjtMfCtz7V7eicRZ9xaqrkRp7zpi_vzxky1vKHEei0hJOdSzuQ4rUA"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0AT7lpjByYaqWiW4VPxyeUxnAcGGsdBEc-XWZ1cF1N-6c_pfqLqBsb9laVrKddnnIugsKT8XuJ11fbBXeoq5ZLbbdlE3C-_vz24wxO8UIWl7nLz_bzDjYJCRKYi98o5CJxG4PbvMt_es2G6bJHoc_MLJbd6zYN3-MWkRV38A49QwzFfQqtXXsaW73I_V3ImJCP4P7Zh2weu9JP998zXcWP5axiHAw3GQ........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Tue, 20 Dec 2022 14:43:00 GMT"},{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ100?valueRenderOption=FORMULA","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjByYaqWiW4VPxyeUxnAcGGsdBEc-XWZ1cF1N-6c_pfqLqBsb9laVrKddnnIugsKT8XuJ11fbBXeoq5ZLbbdlE3C-_vz24wxO8UIWl7nLz_bzDjYJCRKYi98o5CJxG4PbvMt_es2G6bJHoc_MLJbd6zYN3-MWkRV38A49QwzFfQqtXXsaW73I_V3ImJCP4P7Zh2weu9JP998zXcWP5axiHAw3GQ........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'2022'!A60:CJ100\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [],\n    [\n      \"курс $\",\n      \"= GoogleFinance(\\\"Currency:USDUAH\\\")\\n\"\n    ],\n    [\n      \"курс €\",\n      \"= GoogleFinance(\\\"Currency:EURUAH\\\") \",\n      \"\",\n      \"НЕ ХВАТАЕТ !!! :(((\",\n      23000\n    ],\n    [\n      1,\n      2022,\n      \"Итого\",\n      2,\n      2022,\n      \"Итого\",\n      2.1,\n      2022,\n      \"\",\n      3,\n      2022,\n      \"Итого\",\n      3.1,\n      2022,\n      \"\",\n      4,\n      2022,\n      \"Итого\",\n     [...]
[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8'!A2:B1000","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjAGqPr3gq2JPRPiAnsJt4BtKhWtVNHkTqHPOqNfNJWXM09jrAOsNMQydNtSGgT0kQtSCv1ZPy4tLtYQY7LkibYPBnTh3WiA0pfFoiUIkfnhhcNuJPV3aKx84PDbQZAerDSTPuDtFRQ3DKwPowXucKI3YTNKUW3hAXzAmM1ji9SrSNEdE2NyDOHfeLoDR0s_CwHsxvD4lddzjddcRvhE[...]
[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ80","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjC7Mo-gm_4QHNx9WrnFTm-lU3F67rncE6nIlU7t4KYd9-ykI06y15fGiQ2r7StxEqLmeGL08zsLJ7ySBNmx6aaJpKmttOf-G7rQlrns71Ouez8XNCH9UiiwQTPU5E0_wQ3ENbmvDModdcSwIHdl_BYEmhmcSWF2g6FHVuU2jLzqxlholQxb-NoAyZuC1E7MdvLEzpvCNTRJezaq00YTAWoqgsI.............................................[...]
{"request":{"method":"get","uri":"https://api.monobank.ua/bank/currency","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Trace-Id":["9dcf6926d227b3d1fbb7fa0b1e219727"]},"body":{"encoding":"UTF-8","string":"[{\"currencyCodeA\":840,\"currencyCodeB\":980,\"date\":1671487274,\"rateBuy\":36.65,\"rateSell\":37.4406},{\"currencyCodeA\":978,\"currencyCodeB\":980,\"date\":1671518474,\"rateBuy\":38.9,\"rateSell\":40},{\"currencyCodeA\":978,\"currencyCodeB\":840,\"date\":1671518474,\"rateBuy\":1.054,\"rateSell\":1.069},{\"currencyCodeA\":826,\"currencyCodeB\":980,\"date\":1671547426,\"rateCross\":45.8414},{\"currencyCodeA\":392,\"currencyCodeB\":980,\"date\":1671547059,\"rateCross\":0.2759},{\"currencyCodeA\":756,\"currencyCodeB\":980,\"date\":1671547417,\"rateCross\":40.3381},{\"currencyCodeA\":156,\"currencyCodeB\":980,\"date\":1671546909,\"rateCross\":5.3717},{\"currencyCodeA\":784,\"currencyCodeB\":980,\"date\":1671547319,\"rateCross\":10.2002},{\"currencyCodeA\":971,\"currencyCodeB\":980,\"date\":1663425223,\"rateCross\":0.4252},{\"currencyCodeA\":8,\"currencyCodeB\":980,\"date\":16[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5'!A:J:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"Транспорт\",\"Такси\",\"=0,002513*1000000,0/37,4406\",20,\"12,1\",2022,\"20.12.2022\",\"37,4406\",\"1,069\",null]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c[...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!CB74?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[6850000.0]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0AT7lpjDT4oyyGIHOWpTuGwQ8gyyMiwfJYQDNkiTHX-yX2dVt5Bog7yI4c4FJ_aFZ0QheE_uAVLzH0pxJZC8zuk9klMnbTv2k3-RnJXlsNDFLQfnZt0O9D-gLnm16qsADRrXL2MMdFhsDVDNZM4ceRD66op-WizD8tHmhp4ska335FcyamFIS2IGyhkrL1191uJ4uKUjhYtNSshg9R2SLrf6Mv1xq2WY........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"updatedRange\": \"'2022'!CB74\",\n  \"updatedRows\": 1,\n  \"updatedColumns\": 1,\n  \"updatedCells\": 1\n}\n"},"http_version":null},"recorded_at":"Tue, 20 Dec 2022 14:43:00 GMT"},[...]
