{"http_interactions":[{"request":{"method":"post","uri":"https://www.googleapis.com/oauth2/v4/token","body":{"encoding":"ASCII-8BIT","string":"grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer\u0026assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiYXNlLXNlcnZpY2UtYWNjb3VudC1uYW1lQGZpbGwtaW4tZXhwZW5zZXMtdGVsZWdyYW0tYm90LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcxMDEwODYwLCJpYXQiOjE2NzEwMTA3NDAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMifQ.vgB42wWxkaIpvOJzTwAC91WTl99AFrr7VwjE9aIy4CpD4-4DvfXasoKzFEmuAk_ZqMkZM5Tk-loOWMH2b3CAHN7O_cPyd0iYV1QWQhvuDMD8aUArSt8zGrj58BElg5ye8bo1WR2YCMXxoxVSSugupc-a4w0qF3tESbAB6XSdJs34HeaWUhdfdsrezrOUGIGf_svdD56k4Xe8Ti6Z7kOY6J4KgCaKCbAww3SYYt4vVGjj8_enXgkIDiPjMCsPmYm-IOGgyN1zsXIqrEAsdIHI6K9sLd-anwYdJbj6GxYOcrIsbUpH-e06PDTq-YsQZAMUXcTvgFYr0k7KKYvCj1vZfQ"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"access_token\":\"ya29.c.b0Aa9Vdyk46jdin1oRN5Va3RqJC5IlPT8JL5I0DGqKfiB5wf6O2DehEpqFS9OPyFmqwi2F4CeGv23M0y8LJAa-oLi5djQi4cvRiJHUHkVFfnLF4NFx2c16H0T2sxwicAJ9soOpmSa4L2r2UZlj1C5hcwMIO8t1AT0oDT-bJJQQ_kE5FDiGM6O_bsG43zT6tp0Fm3iB55h4AqFjlBycbP4qLdEaOeOCnuM........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"},"http_version":null},"recorded_at":"Wed, 14 Dec 2022 09:40:00 GMT"},{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!A60:CJ100","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0Aa9Vdyk46jdin1oRN5Va3RqJC5IlPT8JL5I0DGqKfiB5wf6O2DehEpqFS9OPyFmqwi2F4CeGv23M0y8LJAa-oLi5djQi4cvRiJHUHkVFfnLF4NFx2c16H0T2sxwicAJ9soOpmSa4L2r2UZlj1C5hcwMIO8t1AT0oDT-bJJQQ_kE5FDiGM6O_bsG43zT6tp0Fm3iB55h4AqFjlBycbP4qLdEaOeOCnuM........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"range\": \"'2022'!A60:CJ100\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [],\n    [\n      \"курс $\",\n      \"36,41007\"\n    ],\n    [\n      \"курс €\",\n      \"38,78691936\",\n      \"\",\n      \"НЕ ХВАТАЕТ !!! :(((\",\n      \"23000\"\n    ],\n    [\n      \"1\",\n      \"2022\",\n      \"Итого\",\n      \"2\",\n      \"2022\",\n      \"Итого\",\n      \"2,1\",\n      \"2022\",\n      \"\",\n      \"3\",\n      \"2022\",\n      \"Итого\",\n      \"3,1\",\n      \"2022\",\n      \"\",\n      \"4\",\n      \"2022\",\n      \"Итого\",\n      \"4,1\",\n  [...]
[...]
{"request":{"method":"get","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8'!A2:B1000","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer ya29.c.b0AT7lpjCf7FOWzd-Q9GFAkZbBdCxxfZIHwA7i8KpZbJbl2vFKEw2BLftq9KhAC-R1V-cIGCVR-pcN20JADfuuwQw7RQrqzDWHYBX0_L6IZlkQak14Riiwcc0F7QRzEdxzH6kvnjZ5maNCsVMwaeB1EDXOVOjStEB2ciuYjB6BGUlrNZ8VPb3Qa_H75auxSGqXIo6lKdu49TsS9WeP57LXpu94[...]
[...]
{"request":{"method":"get","uri":"https://api.monobank.ua/bank/currency","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Trace-Id":["46ab1d6e12d964803a495550394cf52b"]},"body":{"encoding":"UTF-8","string":"[{\"currencyCodeA\":840,\"currencyCodeB\":980,\"date\":1670968874,\"rateBuy\":36.65,\"rateSell\":37.4406},{\"currencyCodeA\":978,\"currencyCodeB\":980,\"date\":1670968874,\"rateBuy\":38.9,\"rateSell\":40},{\"currencyCodeA\":978,\"currencyCodeB\":840,\"date\":1670968874,\"rateBuy\":1.052,\"rateSell\":1.067},{\"currencyCodeA\":826,\"currencyCodeB\":980,\"date\":1671010765,\"rateCross\":46.6123},{\"currencyCodeA\":392,\"currencyCodeB\":980,\"date\":1671010421,\"rateCross\":0.2781},{\"currencyCodeA\":756,\"currencyCodeB\":980,\"date\":1671010723,\"rateCross\":40.5554},{\"currencyCodeA\":156,\"currencyCodeB\":980,\"date\":1671010720,\"rateCross\":5.3818},{\"currencyCodeA\":784,\"currencyCodeB\":980,\"date\":1671010724,\"rateCross\":10.1946},{\"currencyCodeA\":971,\"currencyCodeB\":980,\"date\":1663425223,\"rateCross\":0.4252},{\"currencyCodeA\":8,\"currencyCodeB\":980,\"date\":16[...]
[...]
{"request":{"method":"post","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/'%D0%9F%D0%BE%D0%B2%D1%81%D0%B5%D0%B4%D0%BD%D0%B5%D0%B2%D0%BD%D1%8B%D0%B5'!A:J:append?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[\"Транспорт\",\"Такси\",\"=0,002513*1000000,0/37,4406\",14,\"12,1\",2022,\"14.12.2022\",\"37,4406\",\"1,067\",null]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c[...]
[...]
{"request":{"method":"put","uri":"https://sheets.googleapis.com/v4/spreadsheets/1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg/values/2022!CB74?valueInputOption=USER_ENTERED","body":{"encoding":"UTF-8","string":"{\"values\":[[4254000.0]]}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer ya29.c.b0AT7lpjAtPTF6NQviuYJHS1Cda5xZDCPk5BXc5Cuf43HzPbkZ0R20uTmTa60y8zY-Pg1QGlDykECB_xCY68loxSuDT1IdfNqurb2Jf1fp-sUKk3gYgto2fNJn0Mxhii-s54089peZKAG_7OuDojA2kU6-oBQizLII3brdyKpBQdS-dvqsgn2h6mAvEAJcieeBkp5OhfYb0XUYFsHKfLZW-7-uLCL1Unw........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"spreadsheetId\": \"1-pLYGFJzcLh9DJHpC0vaP9sEbfAZk5dFZeOP7B9SmAg\",\n  \"updatedRange\": \"'2022'!CB74\",\n  \"updatedRows\": 1,\n  \"updatedColumns\": 1,\n  \"updatedCells\": 1\n}\n"},"http_version":null},"recorded_at":"Wed, 14 Dec 2022 09:40:00 GMT"},[...]
